<!--<?php print <<<EOT
-->
</div>
<script language="JavaScript" src="$imgpath/global.js"></script><br />
<!--
EOT;
if(!$db_union[6] && @in_array('1',$db_yh) && SCR!='post'){print <<<EOT
-->
<div class="tac"><script type="text/javascript" src="http://ce.phpwind.com/src/yh.php?v=$wind_version&siteid={$GLOBALS[db_sitehash]}&type=1"></script></div>
<!--
EOT;
}print <<<EOT
-->
<!--脚部开始-->
<div id="foot" class="main_box">
	关于<a href="/about_dahongbao.html">大红包</a> | <a href="/Contact_Us.html">联系我们</a> | <a href="/sitemap.html">网站地图</a><br />
	版权归&copy; 
<!--
EOT;
?>-->
<?php echo date("Y"); ?>
<!--<?php print <<<EOT
-->
	上海惠可网络技术有限公司 所有 沪ICP备12034406号
</div>
<!--脚部结束-->
</body></html>
<!--
EOT;
?>-->
