img{
border:0px;
} 
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #FE6809;
}
.inp001 {
	width: 440px;
}
body,td,th {
	font-size: 12px;
}
.f-12-5A5A5A {
	font-size: 12px;
	line-height: 20px;
	color: 5A5A5A;
	text-decoration: none;
}
.f-12-5A5A5A a:link{
	font-size: 12px;line-height: 20px;color: #5A5A5A;text-decoration: none;
}
.f-12-5A5A5A a:visited{
	font-size: 12px;line-height: 20px;color: #5A5A5A;text-decoration: none;
}
.f-12-5A5A5A a:hover{
	font-size: 12px;line-height: 20px;color: #ff6203;text-decoration: none;
}
.f-12-5A5A5A a:active{
	font-size: 12px;line-height: 20px;color: #5A5A5A;text-decoration: none;
}
.f-12-000 {
	font-size: 12px;line-height: 20px;color:#000000;text-decoration: none;
}
.f-12-000 a:link{
	font-size: 12px;line-height: 20px;color:#000000;text-decoration: none;
}
.f-12-000 a:visited{
	font-size: 12px;line-height: 20px;color:#000000;text-decoration: none;
}
.f-12-000 a:hover{
	font-size: 12px;line-height: 20px;color:#ff4411;text-decoration: none;
}
.f-12-000 a:active{
	font-size: 12px;line-height: 20px;color:#000000;text-decoration: none;
}

.f_14_008_b {
	font-size: 14px;
	font-weight: bold;
	color: #0080C2;
	text-decoration: none;
}
.f_14_C20_b {
	font-size: 14px;
	font-weight: bold;
	color: #C2009C;
}
.f_14_FF7_b {
	font-size: 14px;
	font-weight: bold;
	color: #FF7404;
}
.f_14_559_b {
	font-size: 14px;
	font-weight: bold;
	color: #559D00;
}
.f_14_FFA_b {
	font-size: 14px;
	font-weight: bold;
	color: #FFAB00;
}




.f_12_1EB {
	font-size: 12px;
	color: #1EB8F5;
	text-decoration: none;
}

.f-12-FF4E00-b {
	font-size: 12px;
	line-height: 20px;
	color: FF4E00;
	text-decoration: none;
	font-weight: bold;
}
.f-12-FF4E00-b a:link{
	font-size: 12px;line-height: 20px;color: #FF4E00;text-decoration: none;font-weight: bold;
}
.f-12-FF4E00-b a:visited{
	font-size: 12px;line-height: 20px;color: #FF4E00;text-decoration: none;font-weight: bold;
}
.f-12-FF4E00-b a:hover{
	font-size: 12px;line-height: 20px;color: #FF4E00;text-decoration: none;font-weight: bold;
}
.f-12-FF4E00-b a:active{
	font-size: 12px;line-height: 20px;color: #FF4E00;text-decoration: none;font-weight: bold;
}
.f-14-555 {
	font-size: 12px;
	line-height: 20px;
	color: 555;
	text-decoration: none;
}
.f-14-555 a:link{
	font-size: 12px;line-height: 20px;color: 555;text-decoration: none;
}
.f-14-555 a:visited{
	font-size: 12px;line-height: 20px;color: 555;text-decoration: none;
}
.f-14-555 a:hover{
	font-size: 12px;line-height: 20px;color:5A5A5A;text-decoration: none;
}
.f-14-555 a:active{
	font-size: 12px;line-height: 20px;color: 555;text-decoration: none;
}
.f-12-fff {
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
.f-12-fff a:link{
	font-size: 12px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-12-fff a:visited{
	font-size: 12px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-12-fff a:hover{
	font-size: 12px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-12-fff a:active{
	font-size: 12px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}

.f-12-fff-16 {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.f-12-fff-16 a:link{
	font-size: 12px;color: #FFFFFF;text-decoration: none;
}
.f-12-fff-16 a:visited{
	font-size: 12px;color: #FFFFFF;text-decoration: none;
}
.f-12-fff-16 a:hover{
	font-size: 12px;color: #FFFF00;text-decoration: none;
}
.f-12-fff-16 a:active{
	font-size: 12px;color: #FFFFFF;text-decoration: none;
}

.f-13-fff {
	font-size: 13px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
.f-13-fff a:link{
	font-size: 13px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-13-fff a:visited{
	font-size: 13px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-13-fff a:hover{
	font-size: 13px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-13-fff a:active{
	font-size: 13px;line-height: 20px;color: #FFFFFF;text-decoration: none;
}
.f-13-000 {
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
.f-13-000 a:link{
	font-size: 13px;line-height: 20px;color: #000000;text-decoration: none;
}
.f-13-000 a:visited{
	font-size: 13px;line-height: 20px;color: #000000;text-decoration: none;
}
.f-13-000 a:hover{
	font-size: 13px;line-height: 20px;color: #cccccc;text-decoration: none;
}
.f-13-000 a:active{
	font-size: 13px;line-height: 20px;color: #000000;text-decoration: none;
}

.f-12-0200D0 {
	font-size: 12px;
	line-height: 20px;
	color: 0200D0;
	text-decoration: none;
}
.f-12-0200D0 a:link{
	font-size: 12px;line-height: 20px;color: #0200D0;text-decoration: none;
}
.f-12-0200D0 a:visited{
	font-size: 12px;line-height: 20px;color: #0200D0;text-decoration: none;
}
.f-12-0200D0 a:hover{
	font-size: 12px;line-height: 20px;color: #0200D0;text-decoration: none;
}
.f-12-0200D0 a:active{
	font-size: 12px;line-height: 20px;color: #0200D0;text-decoration: none;
}

.f-14-fff-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.f-14-fff-b a:link{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FFFFFF;text-decoration: none;
}
.f-14-fff-b a:visited{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FFFFFF;text-decoration: none;
}
.f-14-fff-b a:hover{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FFFFFF;text-decoration: none;
}
.f-14-fff-b a:active{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FFFFFF;text-decoration: none;
}

.f-14-FF0000-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: FF0000;
	text-decoration: none;
}
.f-14-FF0000-b a:link{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}
.f-14-FF0000-b a:visited{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}
.f-14-FF0000-b a:hover{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}
.f-14-FF0000-b a:active{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}

.f-12-FF4F01 {
	font-size: 12px;
	line-height: 20px;
	color: FF4F01;
	text-decoration: none;
}
.f-12-FF4F01 a:link{
	font-size: 12px;line-height: 20px;color: #FF4F01;text-decoration: none;
}
.f-12-FF4F01 a:visited{
	font-size: 12px;line-height: 20px;color: #FF4F01;text-decoration: none;
}
.f-12-FF4F01 a:hover{
	font-size: 12px;line-height: 20px;color: #FF4F01;text-decoration: none;
}
.f-12-FF4F01 a:active{
	font-size: 12px;line-height: 20px;color: #FF4F01;text-decoration: none;
}

.f-12-D407B2-b {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: D407B2;
	text-decoration: none;
}
.f-12-D407B2-b a:link{
	font-size: 12px;line-height: 20px;color: #D407B2;text-decoration: none;font-weight: bold;
}
.f-12-D407B2-b a:visited{
	font-size: 12px;line-height: 20px;color: #D407B2;text-decoration: none;font-weight: bold;
}
.f-12-D407B2-b a:hover{
	font-size: 12px;line-height: 20px;color: #D407B2;text-decoration: none;font-weight: bold;
}
.f-12-D407B2-b a:active{
	font-size: 12px;line-height: 20px;color: #D407B2;text-decoration: none;font-weight: bold;
}

.f-12-0042D8 {
	font-size: 12px;
	line-height: 20px;
	color: 0042D8;
	text-decoration: none;
}
.f-12-0042D8 a:link{
	font-size: 12px;line-height: 20px;color: #0042D8;text-decoration: none;
}
.f-12-0042D8 a:visited{
	font-size: 12px;line-height: 20px;color: #0042D8;text-decoration: none;
}
.f_14_000 {
	font-size: 14px;
	color: #000000;
}
.bian_001 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #A5CBE4;
	border-right-color: #A5CBE4;
	border-bottom-color: #A5CBE4;
}
.f_12_F77 {
	font-size: 12px;
	color: #F77C03;
}


.f-12-0042D8 a:hover{
	font-size: 12px;line-height: 20px;color: #0042D8;text-decoration: none;
}
.f-12-0042D8 a:active{
	font-size: 12px;line-height: 20px;color: #0042D8;text-decoration: none;
}

.f-14-0090A5-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: 0090A5;
	text-decoration: none;
}
.f-14-0090A5-b a:link{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}
.f-14-0090A5-b a:visited{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}
.f-14-0090A5-b a:hover{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}
.f-14-0090A5-b a:active{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #FF0000;text-decoration: none;
}

.f-14-8141CB-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: 8141CB;
	text-decoration: none;
}
.f-14-8141CB-b a:link{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #8141CB;text-decoration: none;
}
.f-14-8141CB-b a:visited{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #8141CB;text-decoration: none;
}
.f-14-8141CB-b a:hover{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #8141CB;text-decoration: none;
}
.f-14-8141CB-b a:active{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #8141CB;text-decoration: none;
}

.f-12-8242CA-b {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: 8242CA;
	text-decoration: none;
}
.f-12-8242CA-b a:link{
	font-size: 12px;line-height: 20px;font-weight: bold;color: #8242CA;text-decoration: none;
}
.f-12-8242CA-b a:visited{
	font-size: 12px;line-height: 20px;font-weight: bold;color: #8242CA;text-decoration: none;
}
.f-12-8242CA-b a:hover{
	font-size: 12px;line-height: 20px;font-weight: bold;color: #8242CA;text-decoration: none;
}
.f-12-8242CA-b a:active{
	font-size: 12px;line-height: 20px;font-weight: bold;color: #8242CA;text-decoration: none;
}

.f-12-544C35 {
	font-size: 12px;
	line-height: 20px;
	color: 544C35;
	text-decoration: none;
}
.f-12-544C35 a:link{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: none;
}
.f-12-544C35 a:visited{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: none;
}
.f-12-544C35 a:hover{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: none;
}
.f-12-544C35 a:active{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: none;
}

.f-12-000076 {
	font-size: 12px;
	line-height: 20px;
	color: 000076;
	text-decoration: none;
}
.f-12-000076 a:link{
	font-size: 12px;line-height: 20px;color: #000076;text-decoration: none;
}
.f-12-000076 a:visited{
	font-size: 12px;line-height: 20px;color: #000076;text-decoration: none;
}
.f-12-000076 a:hover{
	font-size: 12px;line-height: 20px;color: #000076;text-decoration: none;
}
.f-12-000076 a:active{
	font-size: 12px;line-height: 20px;color: #000076;text-decoration: none;
}

.f-12-E12061 {
	font-size: 12px;
	line-height: 20px;
	color: E12061;
	text-decoration: none;
}
.f-12-E12061 a:link{
	font-size: 12px;line-height: 20px;color: #E12061;text-decoration: none;
}
.f-12-E12061 a:visited{
	font-size: 12px;line-height: 20px;color: #E12061;text-decoration: none;
}
.f-12-E12061 a:hover{
	font-size: 12px;line-height: 20px;color: #E12061;text-decoration: none;
}
.f-12-E12061 a:active{
	font-size: 12px;line-height: 20px;color: #E12061;text-decoration: none;
}

.f-12-544C35-u {
	font-size: 12px;
	line-height: 20px;
	color: 544C35;
	text-decoration: underline;
}
.f-12-544C35-u a:link{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: underline;
}
.f-12-544C35-u a:visited{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: underline;
}
.f-12-544C35-u a:hover{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: underline;
}
.f-12-544C35-u a:active{
	font-size: 12px;line-height: 20px;color: #544C35;text-decoration: underline;
}

.f-12-000-u {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: underline;
}
.f-12-000-u a:link{
	font-size: 12px;line-height: 20px;color: #000000;text-decoration: underline;
}
.f-12-000-u a:visited{
	font-size: 12px;line-height: 20px;color: #000000;text-decoration: underline;
}
.f-12-000-u a:hover{
	font-size: 12px;line-height: 20px;color: #000000;text-decoration: underline;
}
.f-12-000-u a:active{
	font-size: 12px;line-height: 20px;color: #000000;text-decoration: underline;
}

.f-12-E23411 {
	font-size: 12px;
	line-height: 20px;
	color: E23411;
	text-decoration: none;
}
.f-12-E23411 a:link{
	font-size: 12px;line-height: 20px;color: #E23411;text-decoration: none;
}
.f-12-E23411 a:visited{
	font-size: 12px;line-height: 20px;color: #E23411;text-decoration: none;
}
.f-12-E23411 a:hover{
	font-size: 12px;line-height: 20px;color: #E23411;text-decoration: none;
}
.f-12-E23411 a:active{
	font-size: 12px;line-height: 20px;color: #E23411;text-decoration: none;
}

.f-12-2B2B2B {
	font-size: 12px;
	line-height: 20px;
	color: 2B2B2B;
	text-decoration: none;
}
.f-12-2B2B2B a:link{
	font-size: 12px;line-height: 20px;color: #2B2B2B;text-decoration: none;
}
.f-12-2B2B2B a:visited{
	font-size: 12px;line-height: 20px;color: #2B2B2B;text-decoration: none;
}
.f-12-2B2B2B a:hover{
	font-size: 12px;line-height: 20px;color: #FF7721;text-decoration: none;
}
.f-12-2B2B2B a:active{
	font-size: 12px;line-height: 20px;color: #2B2B2B;text-decoration: none;
}

.f-14-A1A1A1 {
	font-size: 14px;
	line-height: 20px;
	color: A1A1A1;
	text-decoration: none;
}
.f-14-A1A1A1 a:link{
	font-size: 14px;line-height: 20px;color: #A1A1A1;text-decoration: none;
}
.f-14-A1A1A1 a:visited{
	font-size: 14px;line-height: 20px;color: #A1A1A1;text-decoration: none;
}
.f-14-A1A1A1 a:hover{
	font-size: 14px;line-height: 20px;color: #A1A1A1;text-decoration: none;
}
.f-14-A1A1A1 a:active{
	font-size: 14px;line-height: 20px;color: #A1A1A1;text-decoration: none;
}

.f-14-FF4403-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: FF4403;
	text-decoration: none;
}.f-14-FF4403-b a:link{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #FF4403;text-decoration: none;
}
.f-14-FF4403-b a:visited{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #FF4403;text-decoration: none;
}
.f-14-FF4403-b a:hover{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #FF4403;text-decoration: none;
}
.f-14-FF4403-b a:active{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #FF4403;text-decoration: none;
}

.f-14-3C3C3C {
	font-size: 14px;
	line-height: 20px;
	color: 3C3C3C;
	text-decoration: none;
}
.f-14-3C3C3C a:link{
	font-size: 14px;line-height: 20px;color: #3C3C3C;text-decoration: none;
}
.f-14-3C3C3C a:visited{
	font-size: 14px;line-height: 20px;color: #3C3C3C;text-decoration: none;
}
.f-14-3C3C3C a:hover{
	font-size: 14px;line-height: 20px;color: #ff6203;text-decoration: none;
}
.f-14-3C3C3C a:active{
	font-size: 14px;line-height: 20px;color: #3C3C3C;text-decoration: none;
}
.f-12-FE0000-u {
	font-size: 12px;
	line-height: 20px;
	color: FE0000;
	text-decoration: underline;
}
.f-12-FE0000-u a:link{
	font-size: 12px;line-height: 20px;color: #FE0000;text-decoration: underline;
}
.f-12-FE0000-u a:visited{
	font-size: 12px;line-height: 20px;color: #FE0000;text-decoration: underline;
}
.f-12-FE0000-u a:hover{
	font-size: 12px;line-height: 20px;color: #FE0000;text-decoration: underline;
}
.f-12-FE0000-u a:active{
	font-size: 12px;line-height: 20px;color: #FE0000;text-decoration: underline;
}

.f-12-0000FE {
	font-size: 12px;
	line-height: 20px;
	color: 0000FE;
	text-decoration: none;
}
.f-12-0000FE a:link{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: none;
}
.f-12-0000FE a:visited{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: none;
}
.f-12-0000FE a:hover{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: none;
}
.f-12-0000FE a:active{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: none;
}

.f-12-0000FE-u {
	font-size: 12px;
	line-height: 20px;
	color: 0000FE;
	text-decoration: underline;
}
.f-12-0000FE-u a:link{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: underline;
}
.f-12-0000FE-u a:visited{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: underline;
}
.f-12-0000FE-u a:hover{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: underline;
}
.f-12-0000FE-u a:active{
	font-size: 12px;line-height: 20px;color: #0000FE;text-decoration: underline;
}

.f-14-F39210-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: F39210;
	text-decoration: none;
}
}.f-14-F39210-b a:link{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #F39210;text-decoration: none;
}
.f-14-F39210-b a:visited{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #F39210;text-decoration: none;
}
.f-14-F39210-b a:hover{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #F39210;text-decoration: none;
}
.f-14-F39210-b a:active{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #F39210;text-decoration: none;
}

.f-12-666666 {
	font-size: 12px;
	line-height: 20px;
	color: 666666;
	text-decoration: none;
}
.f-12-666666 a:link{
	font-size: 12px;line-height: 20px;color: #666666;text-decoration: none;
}
.f-12-666666 a:visited{
	font-size: 12px;line-height: 20px;color: #666666;text-decoration: none;
}
.f-12-666666 a:hover{
	font-size: 12px;line-height: 20px;color: #666666;text-decoration: none;
}
.f-12-666666 a:active{
	font-size: 12px;line-height: 20px;color: #666666;text-decoration: none;
}

.f-14-757575-b {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: 757575;
	text-decoration: none;
}
}.f-14-757575-b a:link{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #757575;text-decoration: none;
}
.f-14-757575-b a:visited{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #757575;text-decoration: none;
}
.f-14-757575-b a:hover{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #757575;text-decoration: none;
}
.f-14-757575-b a:active{
	font-size: 14px;font-weight: bold;line-height: 20px;color: #757575;text-decoration: none;
}

.f-12-E9322D-b {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: E9322D;
	text-decoration: none;
}
.f-12-E9322D-b a:link{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #E9322D;text-decoration: none;
}
.f-12-E9322D-b a:visited{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #E9322D;text-decoration: none;
}
.f-12-E9322D-b a:hover{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #E9322D;text-decoration: none;
}
.f-12-E9322D-b a:active{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #E9322D;text-decoration: none;
}

.f-12-F99C37-b {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: F99C37;
	text-decoration: none;
}
.f-12-F99C37-b a:link{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #F99C37;text-decoration: none;
}
.f-12-F99C37-b a:visited{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #F99C37;text-decoration: none;
}
.f-12-F99C37-b a:hover{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #F99C37;text-decoration: none;
}
.f-12-F99C37-b a:active{
	font-size: 14px;line-height: 20px;font-weight: bold;color: #F99C37;text-decoration: none;
}

.f-11-000 {
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.f-11-000 a:link{
	font-size: 11px;color: #000000;text-decoration: none;
}
.f-11-000 a:visited{
	font-size: 11px;color: #000000;text-decoration: none;
}
.f-11-000 a:hover{
	font-size: 11px;color: #F99C37;text-decoration: none;
}
.f-11-000 a:active{
	font-size: 11px;color: #000000;text-decoration: none;
}

.f-12-650199 {
	font-size: 12px;
	color: 650199;
	text-decoration: none;
}
.f-12-650199 a:link{
	font-size: 12px;line-height: 20px;color: #650199;text-decoration: none;
}
.f-12-650199 a:visited{
	font-size: 12px;line-height: 20px;color: #650199;text-decoration: none;
}
.f-12-650199 a:hover{
	font-size: 12px;line-height: 20px;color: #650199;text-decoration: none;
}
.f-12-650199 a:active{
	font-size: 12px;line-height: 20px;color: #650199;text-decoration: none;
}

.f-12-329902 {
	font-size: 12px;
	color: 329902;
	text-decoration: none;
}
.f-12-329902 a:link{
	font-size: 12px;line-height: 20px;color: #329902;text-decoration: none;
}
.f-12-329902 a:visited{
	font-size: 12px;line-height: 20px;color: #329902;text-decoration: none;
}
.f-12-329902 a:hover{
	font-size: 12px;line-height: 20px;color: #329902;text-decoration: none;
}
.f-12-329902 a:active{
	font-size: 12px;line-height: 20px;color: #329902;text-decoration: none;
}

.f-12-009900-b-u {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: 009900;
	text-decoration: underline;
}
.f-12-009900-b-u a:link{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: 009900;
	text-decoration: underline;
}
.f-12-009900-b-u a:visited{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: 009900;
	text-decoration: underline;
}
.f-12-009900-b-u a:hover{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: 009900;
	text-decoration: underline;
}
.f-12-009900-b-u a:active{
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: 009900;
	text-decoration: underline;
}

.f-13-0000FF-b-u {
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: 0000FF;
	text-decoration: underline;
}
.f-13-0000FF-b-u a:link{
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: 0000FF;
	text-decoration: underline;
}
.f-13-0000FF-b-u a:visited{
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: 0000FF;
	text-decoration: underline;
}
.f-13-0000FF-b-u a:hover{
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: 0000FF;
	text-decoration: underline;
}
.f-13-0000FF-b-u a:active{
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: 0000FF;
	text-decoration: underline;
}.tab-001 {
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FAD1E4;
	border-bottom-color: #FAD1E4;
	border-left-color: #FAD1E4;
}
.f-16-ffffff-b{
	font-size:22px;
	line-height:26px;
	color:#FFFFFF;
	font-weight:bold;
}
.tab-02 {
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #D3F5F6;
	border-bottom-color: #D3F5F6;
	border-left-color: #D3F5F6;
}
.tab-003 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E3E3E3;
	border-left-color: #E3E3E3;
}
.mian {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #c600d8;
	clear: both;
	float: none;
	border-top: 1px solid #c600d8;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #c600d8;
}
.quan {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #ff6203;
	clear: both;
	float: none;
	border-top: 1px solid #ff6203;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #ff6203;
}
.zhe {
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #70b30d;
	clear: both;
	float: none;
	border-top: 1px solid #70b30d;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #70b30d;
}
.wang {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #009ed8;
	clear: both;
	float: none;
	border-top: 1px solid #009ed8;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #009ed8;
}
.jiang {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #ff0000;
	clear: both;
	float: none;
	border-top: 1px solid #ff0000;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #ff0000;
}
.info_show_hot {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #F1E6D0;
}
.f_14_008 {
	font-size: 14px;
	color: #0085C1;
}
.f_14_008 a:link{
	font-size: 14px;
	color: #0085C1;
}
.f_14_008 a:visited{
	font-size: 14px;
	color: #0085C1;
}
.f_14_008 a:hover{
	font-size: 14px;
	color: #0085C1;
}
.f_14_008 a:active{
	font-size: 14px;
	color: #0085C1;
	}
.f_12_fff_b {
	font-size: 14px;
	color: #0085C1;
}
.f_12_fff_b a:link{
	font-size: 14px;
	color: #0085C1;
}
.f_12_fff_b a:visited{
	font-size: 14px;
	color: #0085C1;
}
.f_12_fff_b a:hover{
	font-size: 14px;
	color: #0085C1;
}
.f_12_fff_b a:active{
	font-size: 14px;
	color: #0085C1;
	}
.f_12_1D8 {
	font-size: 12px;
	color: #1D82CB;
}
.f_12_1D8 a:link{
	font-size: 12px;
	color: #1D82CB;
}
.f_12_1D8 a:visited{
	font-size: 12px;
	color: #1D82CB;
}
.f_12_1D8 a:hover{
	font-size: 12px;
	color: #1D82CB;
}
.f_12_1D8 a:active{
	font-size: 12px;
	color: #1D82CB;
	}

.f_12_FF9 {
	font-size: 12px;
	color: #FF9900;
}
.f_12_FF9 a:link{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f_12_FF9 a:visited{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f_12_FF9 a:hover{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}
.f_12_FF9 a:active{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
	}
.border {border:1px solid #a5cbe4;}
.border01{border:3px solid #ff843a;}
.border02{border:1px solid #dfe5fa;}
.f-14-1d82cb-B {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #1d82cb;
	text-decoration: none;
}
.f-14-1d82cb-B a:link{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f-14-1d82cb-B a:visited{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f-14-1d82cb-B a:hover{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}
.f-14-1d82cb-B a:active{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
	}
.f-14-177cc3 {
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f-14-177cc3 a:link{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f-14-177cc3 a:visited{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
}
.f-14-177cc3 a:hover{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}
.f-14-177cc3 a:active{
	font-size: 14px;
	line-height: 20px;
	color: #177cc3;
	}
.f-ff7e00-u {
	font-size: 12px;
	color: #ff7e00;
	text-decoration: underline;
}
.f-ff7e00-u a:link{
	font-size: 12px;
	color: #ff7e00;
	text-decoration: underline;
}
.f-ff7e00-u a:visited{
	font-size: 12px;
	color: #ff7e00;
	text-decoration: underline;
}
.f-ff7e00-u a:hover{
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.f-ff7e00-u a:active{
	font-size: 12px;
	color: #ff7e00;
	text-decoration: underline;
	}
.f-ff7e00-u {
	font-size: 14px;
	font-weight: bold;
	color: #ff7e00;
	text-decoration: none;
}
.f-ff7e00-u a:link{
	font-size: 14px;
	font-weight: bold;
	color: #ff7e00;
	text-decoration: none;
}
.f-ff7e00-u a:visited{
	font-size: 14px;
	font-weight: bold;
	color: #ff7e00;
	text-decoration: none;
}
.f-ff7e00-u a:hover{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.f-ff7e00-u a:active{
	font-size: 14px;
	font-weight: bold;
	color: #ff7e00;
	text-decoration: none;
	}
.f-12-ff7e00 {
	font-size: 12px;
	color: #ff7e00;
	text-decoration: none;
}
.f-12-ff7e00 a:link{
	font-size: 12px;
	color: #ff7e00;
	text-decoration: none;
}
.f-12-ff7e00 a:visited{
	font-size: 12px;
	color: #ff7e00;
	text-decoration: none;
}
.f-12-ff7e00 a:hover{
	font-size: 12px;
	color: #cccccc;
	text-decoration: none;
}
.f-12-ff7e00 a:active{
	font-size: 12px;
	color: #ff7e00;
	text-decoration: none;
	}
.f-12-448ccb {
	font-size: 12px;
	color: #448ccb;
	text-decoration: none;
}
.f-12-448ccb a:link{
	font-size: 12px;
	color: #448ccb;
	text-decoration: none;
}
.f-12-448ccb a:visited{
	font-size: 12px;
	color: #448ccb;
	text-decoration: none;
}
.f-12-448ccb a:hover{
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.f-12-448ccb a:active{
	font-size: 12px;
	color: #448ccb;
	text-decoration: none;
	}
.f-14-ffff00-B {
	font-size: 14px;
	font-weight: bold;
	color: #ffff00;
	text-decoration: none;
}
.f-14-ffff00-B a:link{
	font-size: 14px;
	font-weight: bold;
	color: #ffff00;
	text-decoration: none;
}
.f-14-ffff00-B a:visited{
	font-size: 14px;
	font-weight: bold;
	color: #ffff00;
	text-decoration: none;
}
.f-14-ffff00-B a:hover{
	font-size: 14px;
	font-weight: bold;
	color: #ffff00;
	text-decoration: none;
}
.f-14-ffff00-B a:active{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
	}
.f-16-ff000-b {
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}
.f-16-ff000-b a:link{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}
.f-16-ff000-b a:visited{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}
.f-16-ff000-b a:hover{
	font-size: 24px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	line-height: 30px;
}
.f-16-ff000-b a:active{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
	}
.f-12-ff000-b{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}
.f-12-ff000-b a:link{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}
.f-12-ff000-b a:visited{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}
.f-12-ff000-b a:hover{
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 30px;
}
.f-12-ff000-b a:active{
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	line-height: 30px;
}.f-12-20-- {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.f-12-20-- a:link{
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.f-12-20-- a:visited{
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.f-12-20-- a:hover{
	font-size: 12px;
	line-height: 20px;
	color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.f-12-20-- a:active{
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.f-12-448ccb-B {
	font-size: 12px;
	line-height: 20px;
	color: #448ccb;
	text-decoration: underline;
}
.f-12-448ccb-B a:link{
	font-size: 12px;
	line-height: 20px;
	color: #448ccb;
	text-decoration: underline;
}
.f-12-448ccb-B a:visited{
	font-size: 12px;
	line-height: 20px;
	color: #448ccb;
	text-decoration: underline;
}
.f-12-448ccb-B a:hover{
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: underline;
}
.f-12-448ccb-B a:active{
	font-size: 12px;
	line-height: 20px;
	color: #448ccb;
	text-decoration: underline;
}
.yhjdiv {
	/*border:solid 1px x#F6F6F6;
	background-color:#F9F9F9;*/
	float:left;
}
.f-12-535353-bg {
	font-size: 12px;
	line-height: 18px;
	color: #535353;
	text-decoration: none;
	background-color: #ffffff;
	background-position: 2px 2px;
}
.f_20_298 {
	font-size: 20px;
	color: #2989F4;
	font-family: "黑体";
}
.f_20_f159 {
	font-size: 20px;
	color: #F15900;
	font-family: "黑体";
}
.f_20_81b {
	font-size: 20px;
	color: #81B60A;
	font-family: "黑体";
}

.f_18_000 {
	font-size: 18px;
	color: #ff0000;
	font-family: "黑体";
}
.f_14_ff0_b {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.f_14_000_b {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.f_12_000_20 {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}
.f_12_ff0_b {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.f_20_ff0 {
	font-size: 18px;
	color: #FF0000;
	font-family: "黑体";
}
.f-14-ffffff{font-size: 14px; color:#FFFFFF;text-decoration: none;}
.f-20-ffffff{font-size: 20px; color:#81b60a; font-weight:bold; text-decoration: none;}
A.f_14_white_red:link { font-size:14px; color:#FFFFFF; text-decoration: none;}
A.f_14_white_red:visited { font-size:14px; color:#FFFFFF; text-decoration: none;}
A.f_14_white_red:hover { font-size:14px; color:#FF0000; text-decoration: underline;}
A.f_14_white_red:active { font-size:14px; color:#FFFFFF; text-decoration: none;}

.info-tab{
	border-right: 1px solid #C9BAA5;
	border-bottom: 1px solid #C9BAA5;
	border-left: 1px solid #C9BAA5;
	
}
.info_css {
	font-size: 12px;line-height: 20px;color:#000000;text-decoration:underline;
}
.info_css a:link{
	font-size: 12px;line-height: 20px;color:#000000;text-decoration:underline;
}
.info_css a:visited{
	font-size: 12px;line-height: 20px;color:#000000;text-decoration:underline;
}
.info_css a:hover{
	font-size: 12px;line-height: 20px;color:#ff4411;text-decoration:underline;
	}
.info_css a:active{
	font-size: 12px;line-height: 20px;color:#000000;text-decoration:underline;
}
