.bottomMenu,a.bottomMenu,a.bottomMenu:active,a.bottomMenu:hover,a.bottomMenu:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   color : #666666;
}

.seeMoreOffers,a.seeMoreOffers,a.seeMoreOffers:active,a.seeMoreOffers:hover,a.seeMoreOffers:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 7pt;
   color : #FF9900;
}

.bottomMenuTop,a.bottomMenuTop,a.bottomMenuTop:active,a.bottomMenuTop:hover,a.bottomMenuTop:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   color : #999999;
}

.navigationLink,a.navigationLink,a.navigationLink:active,a.navigationLink:visited{
   background-color : transparent;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12px;
   color : #3E3E42;
   text-decoration : none;
}

a.navigationLink:hover{
   background-color : transparent;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12px;
   color : #3E3E42;
   text-decoration : underline;
}

.categoyLink,a.categoyLink,a.categoyLink:active,a.categoyLink:visited,a.categoyLink{
   background-color : transparent;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10px;
   color : White;
}

.navigationLinkActive{
   background-color : transparent;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12px;
   color : #3E3E42;
}

.updatedate{
   font-family : Arial, Helvetica, sans-serif;
   color : #dd0000;
   font-size : 10px;
   text-align : center;
}

.newsLetterHead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   font-weight : bold;
}

.newsLetterText{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.pulldown{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.emailText{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   width : 100px;
}

.usecouponhead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   font-weight : bold;
   color : #333333;
}

.usecoupon{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10px;
   color : #666666;
}

a.usecoupon,a.usecoupon:active,a.usecoupon:hover,a.usecoupon:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10px;
   color : #034E9B;
}


.addexpireDate{
   font-family : Arial, Helvetica, sans-serif;
   color : Red;
   font-weight : bold;
   font-size : 12pt;
}

.merchantLink,a.merchantLink,a.merchantLink:active,a.merchantLink:hover,a.merchantLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   color : #034E9B;
   font-weight : bold;
   font-size : 10pt;
}

.merchantTitleText{
   font-family : Arial, Helvetica, sans-serif;
   color : #666666;
   font-size : 8pt;
}

.merchantTitleLink,a.merchantTitleLink,a.merchantTitleLink:active,a.merchantTitleLink:hover,a.merchantTitleLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   color : #003366;
   font-size : 8pt;
}

.amountandexpire{
   font-family : Arial, Helvetica, sans-serif;
   color : #666666;
   font-size : 8pt;
}

.restrLink,a.restrLink,a.restrLink:active,a.restrLink:hover,a.restrLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   color : #666666;
   font-size : 10px;
}

.descriptLink,a.descriptLink,a.descriptLink:active,a.descriptLink:hover,a.descriptLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   color : #003366;
   font-size : 10pt;
}

.lookingText{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   font-weight : bold;
   color : #666666;
}

.lookingLink,a.lookingLink,a.lookingLink:active,a.lookingLink:hover,a.lookingLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   color : #003366;
}

.infoMessage{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12pt;
   color : #000000;
}

.infoLink,a.infoLink,a.infoLink:active,a.infoLink:hover,a.infoLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   text-align : center;
   color : #000000;
}

.merchantDescription{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   color : #666666;
}

.merchantName{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12pt;
   font-weight : bold;
   color : #000000;
}

.savesend,a.savesend,a.savesend:active,a.savesend:hover,a.savesend:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   color : #034E9B;
}

.expirerestrhead,a.expirerestrhead,a.expirerestrhead:active,a.expirerestrhead:hover,a.expirerestrhead:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 13px;
   color : #0000FF;
}

.expirerestr,a.expirerestr,a.expirerestr:active,a.expirerestr:hover,a.expirerestr:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 11px;
   color : #0000FF;
}

.relatedMerchant,a.relatedMerchant,a.relatedMerchant:active,a.relatedMerchant:hover,a.relatedMerchant:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
   color : #003366;
}

.leftmenu,a.leftmenu,a.leftmenu:active,a.leftmenu:visited,a.leftmenu:hover{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
   color : #003366;
}

.fieldName{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   font-weight : bold;
}

.fieldText{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.infoPageHead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12pt;
   font-weight : bold;
}

.BorderTable{
   background-color : #FFCC00;
}

.BackGround{
   background : #FFDF5E;
}

.tellLabelBlack{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
}

.tellLabel{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
}

.txSubscribe{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.normalButton{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.PartHead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 14pt;
   font-weight : bold;
   color : #FFCC00;
}

.InfoCSP,a.InfoCSP,a.InfoCSP:active,a.InfoCSP:visited,a.InfoCSP:hover{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   color : #000000;
}

.pageList,a.pageList,a.pageList:active,a.pageList:hover,a.pageList:visited{
   font-size : 12pt;
   font-weight : bold;
   font-family : Arial, Helvetica, sans-serif;
   background-color : transparent;
   text-decoration : none;
   color : #FFFFFF;
   width : 20px;
   text-align : center;
}

.pageListSelect,a.pageListSelect,a.pageListSelect:active,a.pageListSelect:hover,a.pageListSelect:visited{
   font-size : 12pt;
   font-weight : bold;
   font-family : Arial, Helvetica, sans-serif;
   background-color : #FFCC00;
   text-decoration : none;
   color : #000000;
   width : 20px;
   text-align : center;
}

.pageNumber{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 14pt;
   font-weight : bold;
   color : #FFCC00;
}

.pageTitle{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12pt;
   font-weight : bold;
   color : #FFFFFF;
}

.startLetter{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12pt;
   color : #FFCC00;
   font-weight : bold;
}

.notifyList,a.notifyList,a.notifyList:active,a.notifyList:visited,a.notifyList:hover{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   color : #000000;
}

.comment{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   color : Red;
}

.popRest{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
   color : #FFFFFF;
}

.popRestLink,a.popRestLink,a.popRestLink:active,a.popRestLink:hover,a.popRestLink:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
   color : #000000;
}

.frameLink,a.frameLink,a.frameLink:hover,a.frameLink:visited,a.frameLink:active{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   color : #FFFFFF;
}

.couponCodeButton,a.couponCodeButton,a.couponCodeButton:active,a.couponCodeButton:hover,a.couponCodeButton:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : bigger;
   font-weight : bold;
   color : Red;
   text-decoration : none;
}

.couponCodeButton1,a.couponCodeButton1,a.couponCodeButton1:active,a.couponCodeButton1:hover,a.couponCodeButton1:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   font-weight : bold;
   color : Black;
   text-decoration : none;
}

.couponList{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.verify{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   font-weight : bold;
   color : #000000;
}

.introduction{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
}

.loginTableHead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   font-weight : bold;
}

.loginTableBody{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
}

.loginLink,a.loginLink,a.loginLink:hover,a.loginLink:visited,a.loginLink:active{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   color : #003366;
}

.loginLinkLarge,a.loginLinkLarge,a.loginLinkLarge:hover,a.loginLinkLarge:visited,a.loginLinkLarge:active{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   color : #003366;
}

.loginText{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
}

.accountHead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
}

.nothingYet{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
   color : #999999;
}

.hasSubscription{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
   color : #000000;
}

.leftCategory,a.leftCategory,a.leftCategory:active,a.leftCategory:visited,a.leftCategory:hover{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 11px;
   text-decoration : none;
   color : #aa0000;
   vertical-align : bottom;
}

.walletCouponListHead{
   color : #dd0000;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
}

.walletCouponListHeadLink,a.walletCouponListHeadLink,a.walletCouponListHeadLink:active,a.walletCouponListHeadLink:hover,a.walletCouponListHeadLink:visited{
   color : #003366;
   font-family : Arial, Helvetica, sans-serif;
   font-size : 9pt;
}

.loggedIn{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 8pt;
   color : #333333;
}

.whereEnterText{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
}

.nullcoupon{
   color : #666666;
}

P.MsoNormal {
   FONT-FAMILY: "Times New Roman"; FONT-SIZE: 12pt; MARGIN: 0in 0in 0pt; mso-style-parent: ""; mso-pagination: widow-orphan; mso-fareast-font-family: "Times New Roman"
}

.featuremerchanthead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10pt;
   font-weight : bold;
   color : #333333;
}

.display,a.display,a.display:active,a.display:hover,a.display:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 11px;
   color : #000000;
}

.booklink,a.booklink,a.booklink:active,a.booklink:hover,a.booklink:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12px;
   color : #FFFFFF;
}

.couponlink,a.couponlink,a.couponlink:active,a.couponlink:hover,a.couponlink:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 11px;
   color : #aa0000;
}

.couponlinkblue,a.couponlinkblue,a.couponlinkblue:active,a.couponlinkblue:hover,a.couponlinkblue:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 11px;
   color : #0000FF;
}

.merchofferhead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 13px;
   font-weight : bold;
   color : #000000;
}
.merchofferheadred{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 13px;
   font-weight : bold;
   color : #FF0000;
}

.merchofferother{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10px;
   color : #000000;
}


.policyhead{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12px;
   font-weight : bold;
   color : #000000;
}

.policyother{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 12px;
   color : #000000;
}

.morepolicy,a.morepolicy,a.morepolicy:active,a.morepolicy:hover,a.morepolicy:visited{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 10px;
   color : #003366;
   text-decoration : none;
}

.merchant_expire_date{
   font-family : Arial, Helvetica, sans-serif;
   font-size : 11px;
   color : red;
   text-decoration : none;
}

.nothing {
    VISIBILITY: hidden;
    POSITION: absolute;
}

input.searchBox {
	border-top-width: 1px; border-left-width: 1px; border-left-color: #000000; border-bottom-width: 1px; border-bottom-color: #000000; font: 11px verdana, arial, helvetica, sans-serif; color: #000000; border-top-color: #000000; border-right-width: 1px; border-right-color: #000000
}




.normalTexter {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: arial, verdana, helvetica, sans-serif
}
.nothing {
	VISIBILITY: hidden; POSITION: absolute
}
.searchresultmain {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.searchresultmain {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchresultmain {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchresultseeall {
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: #3267FC;
}
A.searchresultseeallsmall {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	color: #3267FC;
}

.searchresultdescription {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.searchresultdescription {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchresultdescription {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.searchresultcode {
	FONT-SIZE: 11px; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.searchresultcode {
	FONT-SIZE: 11px; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchresultcode {
	FONT-SIZE: 11px; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.searchresultexpire {
	FONT-SIZE: 11px; COLOR: #4444bb; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.searchresultexpire {
	FONT-SIZE: 11px; COLOR: #4444bb; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchresultexpire {
	FONT-SIZE: 11px; COLOR: #4444bb; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.searchresultsee {
	FONT-SIZE: 11px; COLOR: #228877; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.searchresultsee {
	FONT-SIZE: 11px; COLOR: #228877; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchresultsee {
	FONT-SIZE: 11px; COLOR: #228877; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.searchgreen {
	FONT-SIZE: 10pt; COLOR: green; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.searchgreen,A.searchgreen:active,A.searchgreen:hover,A.searchgreen:visited {
	FONT-SIZE: 10pt; COLOR: green; FONT-FAMILY: Arial, Helvetica, sans-serif; text-decoration: none
}

.pagesearch{
	FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pagered{
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.searchblue {
   FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblue:active {
   FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblue:hover {
   FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblue:visited {
   FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblack {
   FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblack:active {
   FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblack:hover {
   FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.searchblack:visited {
   FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}