/* CSS Document */
/*全局属性开始*/
body {
	margin: 0px;
	border: 0px;
	font-size: 12px;
	color: #236eaf;
	font-family: "宋体";
	background: #333;
}	
form {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
img {
	border:0px;
}
a:link,a:visited {
	color: #236eaf;
	text-decoration: none;
}
a:hover {
	color: #236eaf;
	text-decoration: underline;
}
.main_box {
	width: 1003px;
	margin: 0px auto;
	background: #fff;
}
.clr {
	clear: both;
}
/*全局属性结束*/
/*头部开始*/
#head {
	height: 175px;
	overflow: hidden;
}
.head_top {
	width: 1003px;
	height: 34px;
	background: #333;
}
#head h1 {
	width: 670px;
	height: 34px;
	float: left;
	margin: 0px;
	display: inline;
}
.head_top ul {
	width: 315px;
	float: right;
	overflow: hidden;
	height: 34px;
	padding: 0px;
}
.head_top ul li {
	float: left;
}
.head_top a:link,.head_top a:visited,.head_top a:hover {
	color: #efefef;
}
.head_top .search_input {
	padding: 6px 0px 0px 0px;
	overflow: hidden;
	margin: 0px;
	height: 22px;
	width: 150px;
}
.head_top .input {
	width: 145px;
	height: 19px;
	overflow: hidden;
	border: 1px solid #b3b3b3;
	padding: 0px 0px 0px 3px;
	color: #333;
	margin: 0px;
}
.head_top .butimage {
	width: 53px;
	padding: 8px 0px 0px 14px;
	height: 18px;
}
.head_top .login {
	padding: 8px 0px 0px 0px;
	width: 30px;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
	color: #fff;
}
.head_top .login_name {
	padding: 8px 0px 0px 0px;
	width: 60px;
	line-height: 22px;
	height: 22px;
	overflow: hidden;
	color: #fff;
}
.head_top .login_left {
	padding-left: 30px;
}
/*头部结束*/
/*主体开始*/
#content {
	height: auto;
	overflow: auto;
	background: url(/images/subject_blue/content_bg.gif) repeat-x #92d3f7;
}
/*左侧内容开始*/
#sidebar {
	width: 208px;
	float: left;
}
#nav {
	width: 95px;
	float: right;
	padding-bottom: 23px;
}
#nav ul li {
	width: 95px;
	height: 38px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 7px;
	background: url(/images/subject_blue/nav_bg.gif) no-repeat;
}
#nav ul li a:link,#nav ul li a:visited,#nav ul li a:hover {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
}
.sidebox {
	width: 188px;
	float: right;
	background: url(/images/subject_blue/sidebar_topbg.gif) no-repeat;
	padding-top: 13px;
}
.sidebar_box {
	width: 188px;
	background: url(/images/subject_blue/sidebar_bg.gif) repeat-y;
}
.sidebar_img {
	width: 170px;
	height: 95px;
	padding-left: 10px;
	overflow: hidden;
}
.sidebar_line {
	padding-bottom: 10px;
}
.sidebar_bottom {
	width: 188px;
	height: 13px;
	background: url(/images/subject_blue/sidebar_bottombg.gif) no-repeat;
}
.sidebar_coupon {
	width: 165px;
	background: url(/images/subject_blue/sidebar_coupon.gif) no-repeat 32px 0px ;
	padding: 17px 0px 0px 32px;
}
.sidebar_couponbox {
	width: 160px;
	background: #2684d5;
	padding-left: 5px;
}
.sidebar_couponbox ul li {
	width: 155px;
	height: 47px;
	line-height: 47px;
	background: url(/images/subject_blue/sidebar_couponbox.gif) no-repeat;
	text-align: center;
}
.sidebar_couponbox .liline {
	padding-bottom: 5px;
}
.sidebar_couponbox a:link,.sidebar_couponbox a:visited,.sidebar_couponbox a:hover {
	font-size: 14px;
	font-weight: 600;
	color: #174063;
	text-decoration: none;
}
.sidebar_couponbottom {
	width: 165px;
	height: 7px;
	background: url(/images/subject_blue/sidebar_couponbottom.gif) no-repeat;
}
/*左侧内容结束*/
#main {
	width: 795px;
	float: right;
	padding: 0px 0px 25px 0px;	
}
#main_top {
	width: 795px;
	height: 11px;
	overflow: hidden;
}
.main_max {
	width: 765px;
	background: url(/images/subject_blue/main_bottombg.gif) no-repeat bottom #2684d5;
	padding: 25px 0px 25px 10px;
	height: auto;
	overflow: auto;
}
/*begin main_left*/
.main_left {
	width: 438px;
	float: left;
}
.main_leftbox {
	width: 440px;
	background: url(/images/subject_blue/main_boxbg.gif) repeat-y;		
}
.main_min {
	width: 440px;
	background: url(/images/subject_blue/main_boxtop.gif) no-repeat;
	height: auto;
	overflow: auto;
}
.main_leftbottom {
	width: 440px;
	height: 17px;
	background: url(/images/subject_blue/main_boxbottom.gif) no-repeat;
}
/*begin main_bar*/
.main_bar {
	float: left;
	width: 145px;
	padding: 18px 0px 3px 13px;
}
.main_barimg {
	width: 141px;
	height: 111px;
	padding: 1px;
	border: 1px solid #b1b1b1;
	overflow: hidden;
	margin-bottom: 7px;
}
.main_barimg {
	width: 141px;
	height: 111px;
	overflow: hidden;
}
.main_barbox {
	width: 145px;
	background: url(/images/subject_blue/main_barboxbottom.gif) no-repeat bottom #e7f5fd;
	height: auto;
	overflow: auto;
}
.main_barbox ul {
	width: 145px;
	background: url(/images/subject_blue/main_barboxtop.gif) no-repeat top;
	padding-top: 3px;
}
.main_barbox .lititle {
	width: 130px;
	height: 25px;
	line-height: 25px;
	font-weight: 600;
	background: url(/images/subject_blue/pointmax_ico.gif) no-repeat 7px 10px;
	padding-left: 15px;
	overflow: hidden;
}
.main_barbox .liline {
	width: 130px;
	height: 18px;
	background: url(/images/subject_blue/pointmin_ico.gif) no-repeat 7px 5px;
	padding-left: 15px;
	overflow: hidden;
	line-height: 18px;
}
.main_barbox .limore {
	width: 138px;
	text-align: right;
	line-height: 22px;
}
/*end main_bar*/
/*begin main_text*/
.main_text {
	float: right;
	padding: 0px 10px 0px 0px;
	width: 256px;
}
.main_texttop {
	width: 256px;
	height: 42px;
}
.main_texttop h3 {
	margin: 0px;
	width: 85px;
	float: right;
	overflow: hidden;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	padding-top: 5px;
	letter-spacing: 2px;
}
.main_texttop h4 {
	margin: 0px;
	width: 130px;
	float: left;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding-top: 18px;
}
.main_texttop h3 a:hover,.main_texttop h4 a:hover {
	text-decoration: none;
}
.main_text p {
	width: 256px;
	height: 72px;
	line-height: 18px;
	margin: 0px 0px 4px 0px;
	overflow: hidden;
	text-indent: 25px;
}
.main_textbox {
	width: 256px;
	height: 108px;
	background: url(/images/subject_blue/main_textboxbg.gif) no-repeat;
	padding-top: 2px;
	overflow: hidden;
}
.main_textbox ul {
	width: 256px;
	height: 104px;
	padding-top: 4px;
}
.main_textbox ul li {
	float: left;
}
.main_textbox .lititle {
	height: 30px;
	line-height: 30px;
	font-weight: 600;
	background: url(/images/subject_blue/pointmax_ico.gif) no-repeat 7px 12px;
	padding-left: 15px;
	overflow: hidden;
	width: 241px;
}
.main_textbox .litext {
	height: 18px;
	background: url(/images/subject_blue/pointmin_ico.gif) no-repeat 7px 5px;
	padding-left: 15px;
	overflow: hidden;
	width: 113px;
	line-height: 18px;
}
.main_textbox .limore {
	width: 245px;
	text-align: right;
	line-height: 20px;
}
/*end main_text*/
/*end main_left*/
/*begin main_right*/
.main_right {
	width: 323px;
	float: right;
}
.main_rightbox {
	width: 317px;
	margin-left: 3px;
	background: url(/images/subject_blue/main_rightbg.gif) repeat-y;
}
.main_rightmax {
	width: 315px;
	background: url(/images/subject_blue/main_rightbottom.gif) no-repeat bottom;
}
.main_rightmin {
	width: 309px;
	background: url(/images/subject_blue/main_righttop.gif) no-repeat;
	padding: 6px 0px 2px 6px;
}	
/*begin ploy_box*/
.ploy_box {
	width: 300px;
	background: url(/images/subject_blue/ploy_boxtop.gif) no-repeat;
	padding: 8px 0px 6px 0px !important;
	padding: 8px 0px 0px 0px;
}
.ploy_text {
	width: 298px;
	border-left: 1px solid #bbca6d;
	border-right: 1px solid #bbca6d;
	background: #f7fdcf;
	height: auto;
	overflow: auto;
}
.ploy_bottom {
	width: 300px;
	height: 8px;
	background: url(/images/subject_blue/ploy_boxbottom.gif) no-repeat;
}
.ploy_left {
	width: 100px;
	height: 95px;
	float: left;
	padding-left: 10px;
}
.ploy_img {
	width: 96px;
	height: 91px;
	padding: 1px;
	border: 1px solid #b1b1b1;
	overflow: hidden;
}
.ploy_right {
	float: right;
	width: 172px;
	padding-right: 10px;
}
.ploy_right h3 {
	width: 172px;
	height: 25px;
	line-height: 20px;
	overflow: hidden;
	margin: 0px;
	font-size: 14px;
}
.ploy_text .ploy_right p {
	margin: 0px;
	height: 72px;
	line-height: 18px;
	overflow: hidden;
	text-indent: 25px;
	padding: 0px;
	width: 172px;
}
.ploy_text h4 {
	font-size: 12px;
	margin: 0px;
	height: 20px;
	line-height: 17px;
	padding-left: 14px;
	width: 284px;
	overflow: hidden;
}	
.ploy_text p {
	margin: 0px;
	text-indent: 25px;
	line-height: 19px;
	height: 57px;
	padding-left: 14px;
	width: 270px;
	overflow: hidden;
}
.ploy_text ul li {
	width: 270px;
	line-height: 20px;
	padding-left: 14px;
	height: 20px;
	overflow: hidden;
}
/*end ploy_box*/
/*begin right_minbox*/
.right_min {
	background: url(/images/subject_blue/right_minbg.gif) repeat-y;
	width: 300px;
	height: auto;
	overflow: auto;
}
.right_mintop {
	width: 300px;
	height: 7px;
	background: url(/images/subject_blue/right_mintop.gif) no-repeat;
}
.right_minbottom {
	width: 300px;
	height: 7px;
	background: url(/images/subject_blue/right_minbottom.gif) no-repeat;
	margin-bottom: 6px !important;
	margin-bottom: -1px;
}
.right_minbox {
	width: 287px;
	padding: 10px 6px 10px 7px;
	height: 78px;
	overflow: hidden;
}
.right_minimg {
	width: 86px;
	height: 71px;
	padding: 1px;
	background: #fff;
	border: 1px solid #b1b1b1;
	float: left;
}
.right_mintext {
	width: 182px;
	float: right;
}
.right_mintext h4 {
	line-height: 16px;
	height: 16px;
	width: 182px;
	overflow: hidden;
	margin: 0px;
	font-size: 12px;
}
.right_mintext p {
	margin: 6px 0px 0px 0px;
	line-height: 18px;
	height: 54px;
	width: 182px;
	overflow: hidden;
}
/*end right_minbox*/
/*begin google*/
.google {
	width: 323px;
	height: auto;
	overflow: auto;
	background: url(/images/subject_blue/google_bg.gif) repeat-y;
}
.google_top {
	width: 323px;
	height: 17px;
	background: url(/images/subject_blue/google_top.gif) no-repeat;
}
.google_box {
	width: 300px;
	height: auto;
	overflow: auto;
	padding: 0px 11px 7px 12px;
	background: url(/images/subject_blue/google_bottom.gif) no-repeat bottom;
}
.google ul {
	padding-bottom: 6px;
}
.google .lititle {
	font-size: 14px;
	font-weight: 600;
	color: #375672;
	line-height: 28px;
	height: 28px;
	width: 300px;
	overflow: hidden;
}
.google .litext {
	color: #dae7f2;
	line-height: 20px;
	width: 300px;	
}
.google .liurl {
	line-height: 20px;
	width: 300px;
	height: 20px;
	overflow: hidden;
	color: #dae7f2;
}
.google .litext a:link,.google .litext a:visited,.google .litext a:hover,.google .liurl a:link,.google .liurl a:visited,.google .liurl a:hover {
	color: #eae7f2;
}
.google .liad {
	width: 60px;
	height: 11px;
	padding: 0px 0px 10px 240px;
}
/*end google*/
/*end main_right*/
/*主体结束*/
/*脚部开始*/
#foot {
	height: 132px;
	background: #236eaf;
	border-top: 6px solid #47b0e9;
}
.foot_img {
	width: 250px;
	height: 80px;
	float: left;
	padding: 45px 0px 0px 40px;
}
.foot_text {
	width: 713px;
	height: 80px;
	float: right;
	text-align: center;
	padding: 40px 0px 0px 0px;
	line-height: 28px;
	color: #efefef;
}
.foot_text a:link,.foot_text a:visited,.foot_text a:hover {
	color: #efefef;
}
/*脚部结束*/