body {
    margin: 0;
    padding: 0;
    color: #555555;
    background-color: #FFFFFF;
    font-size: 13px;
    /*text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);*/
}
header, section, nav, article, aside {
    display: block;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,宋体,sans-serif;
}
a {
    color: #CC3364;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #CC0041;
    font-weight: bold;
    text-rendering: optimizelegibility;
}
li{
	list-style :none;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("/img/BackEnd/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}
i[class^="icon-"] {
    opacity: 0.8;
}
.red {
	color:#BD4247;
}

/*layout header*/
.topHeader {
    margin-bottom: 18px;
    overflow: hidden;
    height:87px;
    background:url("/img/BackEnd/categroy_titlebg.gif") repeat scroll center bottom transparent;
}

.topHeader article {
    border-radius: 0 0 10px 10px;
    padding-bottom: 5px;
    padding-right:5px;
}

.topHeader .userInfo{
    padding-top:60px;
    padding-right:10px;
    float:right;
    color:#F5F5F5;
}
.topHeader .userInfo a {
    color: #F5F5F5;
    line-height: 19px;
    padding: 9px 10px 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: underline;
}
.topHeader .logo {
    float:left;
}

/*layout main*/
.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
}

.main {
    width: 100%;
}
/*layout left menu*/
.colLeft {
    width:200px;
    padding:5px;
    float:left;
    width:13%;
}
.sidebar-nav{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #BDBDBD;
    margin-bottom: 0;
    min-height: 0;
    padding-bottom: 0;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav-tabs {
    border-bottom: 0 none;
    margin-left: 0;
    list-style: none;
    padding-left:0px;
}
.nav-tabs li {
    margin-bottom: -1px;
    margin-left: -2px;
    margin-right: -2px;
}
.nav-tabs li a {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    display:block;
    color: #CC3364;
    cursor: default;
}

.icon-home {
    background-position: 0 -24px;
}
.nav-tabs li a:hover,
.nav-tabs li a:link,
.nav-tabs li a a:visited {
    color: #555555;
    cursor: default;
    background-color: #FFFFFF;
    margin-left:2px;
}

/*layout right*/
.colMain {
    padding:5px;
    float:left;
    width:83%;
    margin-left:5px;
    margin-left: 2%;
}

.breadcrumb ul {
    padding: 7px 14px;
    margin: 0 0 18px;
    list-style: none;
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
    display: inline;
    text-shadow: 0 1px 0 #FFFFFF;
}

.breadcrumb .divider {
    color: #999999;
    padding: 0 5px;
}

/*footer css*/
.footer-left {
    float: left;
    margin-left: 10px;
}

.footer-right {
    float: right;
    margin-right: 10px;
}
/*display div css*/
.box {
    width:100%;
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-header {
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    margin-bottom: 0;
    font-weight:bold;
    font-size:16px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
}

.box-header h2 {
    clear: none;
    font-size: 15px;
    line-height: 25px;
    width: auto;
    padding-left:20px;
    padding-right:20px;
    margin:0px;
}
.box-header h2 .icon-box{
    background-position: -96px -72px;
    margin-top:2px;
    padding-right:3px;
}

.box-content {
    padding: 10px;
}
.box-form {
    margin: 0 0 18px;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 19.5px;
    line-height: 36px;
    margin-bottom: 27px;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.input-group{
    margin-bottom: 18px;
}

.input-group .controls{
	padding:6px;
}


.input-label{
    float: left;
    padding-top: 10px;
    text-align: right;
    width: 140px;
}

.input-item{
    margin-left:160px;
}

.input-element{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    padding: 4px;
    width: 30%;
}

.select-element {
    border-bottom-color: #BBBBBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #BBBBBB;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #BBBBBB;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #BBBBBB;
    border-top-style: solid;
    border-top-width: 1px;
    width: 220px;
}

select[multiple],
select[size] {
  height: auto;
}

.input-help-block{
    margin-bottom: 0;
    margin-top: 3px;
}

.input-help-inline{
    display: inline-block;
    padding-left: 5px;
}

.radio, .checkbox {
    min-height: 18px;
    padding-left: 18px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -18px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 5px;
}
.radio.inline, .checkbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    vertical-align: middle;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}

div.checker {
    position: relative;
}
div.checker span {
    display: inline-block;
    text-align: center;
}
div.checker input {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: inline-block;
    opacity: 0;
}

.button-group {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px 160px;
}

.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
.btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}
.btn-group:after {
  clear: both;
}
.btn-group:first-child {
  *margin-left: 0;
}
.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-group > .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group > .btn-mini.dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-group > .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group > .btn-large.dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #3673d7;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #dd5600;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.button-element {
    background-color: #43a1da;
    background-image: -moz-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -ms-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ba6db), to(#369bd7));
    background-image: -webkit-linear-gradient(top, #4ba6db, #369bd7);
    background-image: -o-linear-gradient(top, #4ba6db, #369bd7);
    background-image: linear-gradient(top, #4ba6db, #369bd7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ba6db', endColorstr='#369bd7', GradientType=0);
    border-color: #369bd7 #369bd7 #2071a1;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #369bd7;
     border-radius: 4px 4px 4px 4px;
     border-width: 1px;
     padding: 4px 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: default;
}

.button-reset{
    background-color: #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #FFFFFF 5%, #FFFFFF);
    background-repeat: no-repeat;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
     padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}


.input-group.error > label, .input-group.error .help-block, .input-group.error .help-inline {
    color: #BD4247;
}
.input-group.error .checkbox, .input-group.error .radio, .input-group.error input, .input-group.error select, .input-group.error textarea {
    border-bottom-color: #BD4247;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #BD4247;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #BD4247;
    border-top-color: #BD4247;
    color: #BD4247;
}
.input-group.error .checkbox:focus, .input-group.error .radio:focus, .input-group.error input:focus, .input-group.error select:focus, .input-group.error textarea:focus {
    border-bottom-color: #983538;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #983538;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #983538;
    border-top-color: #983538;
    box-shadow: 0 0 6px #D88E90;
}
.input-group.error .input-prepend .add-on, .input-group.error .input-append .add-on {
    background-color: #EDDBE3;
    border-bottom-color: #BD4247;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #BD4247;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #BD4247;
    border-top-color: #BD4247;
    color: #BD4247;
}

/* table css */
.table{
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    margin-bottom: 18px;
    width: 100%;
    border-spacing: 0;
    max-width: 100%;
    border-collapse: separate;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.table th, .table td {
	border-left: 1px solid #DDDDDD;
    line-height: 18px;
    padding: 8px;
    text-align: center;
    vertical-align: center;
    word-break:break-all;
}
.table td {
    border-top: 1px solid #DDDDDD;
}
.table tbody tr.warning > td {
    background-color: #FCF8E3;
}

.table tbody tr.success > td {
    background-color: #DFF0D8;
}
.table tbody tr.error > td {
    background-color: #F2DEDE;
}
.table tbody tr.info > td {
    background-color: #D9EDF7;
}

.btn {
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
}
.btn-large {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    line-height: normal;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 9px;
}
.btn-view {
    background-image: -moz-linear-gradient(center top , #80BB3F, #73A839);
    background-repeat: repeat-x;
    background-color: #7BB33D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-edit {
    background-color: #9E6AB8;
    background-image: -moz-linear-gradient(center top , #A271BB, #9760B3);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-delete {
    background-color: #D41E24;
    background-image: -moz-linear-gradient(center top , #DD1F26, #C71C22);
    background-repeat: repeat-x;
    padding-left:10px;
    padding-right:10px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background-color: #43A1DA;
    background-image: -moz-linear-gradient(center top , #4BA6DB, #369BD7);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
}
.btn-success {
    background-color: #7BB33D;
    background-image: -moz-linear-gradient(center top , #80BB3F, #73A839);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
}

.btn-inverse {
    background-color: #F8B93B;
    background-image: -moz-linear-gradient(center top , #F8BD45, #F7B42C);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
}

.input-element.span12,
textarea.span12,
.uneditable-.input-element.span12 {
  width: 926px;
}

.input-element.span11,
textarea.span11,
.uneditable-.input-element.span11 {
  width: 846px;
}

.input-element.span10,
textarea.span10,
.uneditable-.input-element.span10 {
  width: 766px;
}

.input-element.span9,
textarea.span9,
.uneditable-.input-element.span9 {
  width: 686px;
}

.input-element.span8,
textarea.span8,
.uneditable-.input-element.span8 {
  width: 606px;
}

.input-element.span7,
textarea.span7,
.uneditable-.input-element.span7 {
  width: 526px;
}

.input-element.span6,
textarea.span6,
.uneditable-.input-element.span6 {
  width: 446px;
}

.input-element.span5,
textarea.span5,
.uneditable-.input-element.span5 {
  width: 366px;
}

.input-element.span4,
textarea.span4,
.uneditable-.input-element.span4 {
  width: 286px;
}

.input-element.span3,
textarea.span3,
.uneditable-.input-element.span3 {
  width: 206px;
}

.input-element.span2,
textarea.span2,
.uneditable-.input-element.span2 {
  width: 126px;
}

.input-element.span1,
textarea.span1,
.uneditable-.input-element.span1 {
  width: 46px;
}

/*图标*/
.icon-view{
    background-position: -336px 0;
}
.icon-edit{
    background-position: -96px -72px;
}
.icon-delete{
    background-position: -456px 0;
}
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-white {
    background-image: url("/img/BackEnd/glyphicons-halflings-white.png");
}
.icon-plus {
    background-position: -408px -96px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.icon-exclamation-sign {
    background-position: 0 -120px;
}
.icon-repeat {
    background-position: -216px -24px;
}
.icon-plane {
    background-position: -168px -120px;
}
.icon-thumbs-up {
    background-position: -96px -144px;
}
.icon-thumbs-down {
    background-position: -120px -144px;
}
.icon-upload {
    background-position: -144px -24px;
}
.icon-download {
    background-position: -120px -24px;
}
.active-status {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #669533;
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 3px;
}
.banned-status {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #BD4247;
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 3px;
}
.table-form-filter {
    width:100%;
    padding-top:5px;
    padding-left:10px;
}
.table-form-filter .input-element {
    padding:0px;
    width:150px;
}
.table-form-filter .select-element {
    width:100px;
    height: 28px;
    padding-top:4px;
    padding-bottom:4px;
}
.input-filter {
    float:left;
    width:20%;
}
.input-filter label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
/*page css*/
.pagination {
    height: 36px;
    margin: 18px 0;
    text-align:center;
}
.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    padding:0px;
    text-align: center;
}

.pagination li {
    display: inline;
    line-height: 18px;
}
.pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}

.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination a:hover, .pagination .active a {
    background-color: #F5F5F5;
}
.pagination disabled {
    color: #999999;
}
.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
/*hr style css*/
hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #ffffff;
    clear: both;
    width: 100%;
    display: block;
}

/*row background*/
.odd {
    background-color: #F9F9F9;
}


/*menu*/
.ui-menu {
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    z-index:99;
}
.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
}
.ui-menu .ui-menu-item {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    line-height:20px;
    width: 100%;
}
.ui-menu .ui-menu-divider {
    border-bottom-width: 0;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-width: 1px;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin-bottom: 5px;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 5px;
}
.ui-menu .ui-menu-item a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    min-height: 0;
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
}
.ui-menu .ui-state-disabled {
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
}
.ui-menu .ui-state-disabled a {
    cursor: default;
}

.ui-icon-carat-1-e{
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-position: -456px -72px;
    background-image: url("/img/BackEnd/glyphicons-halflings.png");
    opacity: 0.8;
    float: right;
}

textarea{
    width: 500px;
	height:200px;
}

/*span label 状态*/
span.label{
    background-color: #999999;
    color: #FFFFFF;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 3px;
}

span.label-success{
    background-color: #669533;
}

span.label-running{
    background-color: #DD5600;
}
span.label-fail{
    background-color: #BD4247;
}


.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
}

.form-inline input{
	height:19px;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

.hidden{
	display:none;
}

/*tooltip*/
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}


.fade {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: linear;
}

.fade.in {
    opacity: 1;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #8bc5e8;
  border: 1px solid #7ed0e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #1c628b;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #ccddbb;
  border-color: #c6d4aa;
  color: #669533;
}
.alert-danger,
.alert-error {
  background-color: #eddbe3;
  border-color: #e8d1df;
  color: #bd4247;
}
.alert-info {
  background-color: #edebe1;
  border-color: #e0d9cb;
  color: #817b58;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

