<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>商场最新打折促销，折扣让利活动资讯---大红包折扣信息频道</title>

<link href="/css/discount.css" rel="stylesheet" type="text/css" media="all" />
<script src="/jscript/prototype.js"></script>
<script src="/jscript/cellgo.js"></script>
</head>
<body>
<!--头部开始-->
{include file="new/head_discount.htm"}
<!--头部结束-->
<!--主体内容开始-->
<div id="content">
	<!--category_title 导航开始-->
	<div id="category_title">
		<span class="bring">当前位置:</span> <a href="/">首页</a> > <h1>最新折扣信息</h1>
	</div>
	<!--category_title 导航结束-->
	<!--主体内容开始-->
	<div id="main">
		<!--begin left-->
		<div id="left">
			<!--左侧导航开始-->
			<div id="left_nav">
				<ul>
					<li class="nav1"><a href="/discount.html">生效时间</a></li>
					<li class="nav2"><a href="/discount_overdue.html">快过期</a></li>
					<li class="nav3"><a href="/discount_hot.html">热门</a></li>
					<li class="navun4">最新发布</li>
				</ul>
			</div>
			<!--左侧导航结束-->
			<div id="left_mainbg"></div>
			<!--具体内容开始-->
			<div id="left_main">				
				<div id="left_top">
					<h3>最新发布的折扣信息</h3>
				</div>
				<!--具体信息内容开始-->
				<div id="new_box">
					<ul>
						<li class="li1strong">日期</li>
						<li class="li2strong">折扣信息</li>
						<li class="li3strong">发布人</li>
						<li class="li4strong">发布时间</li>
						<li class="li5strong">推荐/举报/评论</li>
						{section name=loop loop=$discountlist}
						<li class="li1">{$discountlist[loop].StartDate|date_format:"%m月%e日"}-{$discountlist[loop].ExpireDate|date_format:"%m月%e日"} </li>
						<li class="li2"><a href="/discount_detail-{$discountlist[loop].Coupon_}.html" target="_blank" title="{$discountlist[loop].Descript}">{$discountlist[loop].DescriptCut}</a></li>
						<li class="li3">{$discountlist[loop].author}</li>
						<li class="li4">{$discountlist[loop].AddDate}</li>
						<li class="li5">{$discountlist[loop].digest} / {$discountlist[loop].delate} / {$discountlist[loop].replies}</li>
						{/section}
					</ul>
					<!--翻页开始-->
					<div class="new_page">
						<ul>
							<li class="li_ico">{if $pageid!=1 && $pageall!=1}{if $pageid==2}<a href="/discount_new.html">{else}<a href="/discount_new--Pg-{$pageid-1}.html">{/if}<img src="/images/discount/calendar_ico1.gif" alt="ico" /></a>{/if}</li>
							<li class="li_date">{if $pageall==1}共一页最新发布的折扣信息{else}{$pageStr}{/if}</li>
							<li class="li_ico">{if $pageid!=$pageall && $pageall!=1}<a href="/discount_new--Pg-{$pageid+1}.html"><img src="/images/discount/calendar_ico2.gif" alt="ico" /></a>{/if}</li>
						</ul>
					</div>
					<!--翻页结束-->
				</div>
				<!--具体信息内容结束-->				
			</div>
			<!--具体内容结束-->			
		</div>
		<!--end left-->
		<!--begin right-->
		<div id="right">
			<!--日历开始-->
			<div id="calendar">
				<div class="calendar_top"></div>
				<div class="calendar_box">
					<div class="calendar_date">
						<ul>
							<li class="li_ico"></li>
							<li class="li_date">{$selectedYear}年{$selectedMonth}月</li>
							<li class="li_ico"></li>
						</ul>
					</div>
					{$datastr}
				</div>
				<div class="calendar_top"></div>
			</div>
			<!--日历结束-->
			<!--充值开始-->
			<div class="sidebox_phone">			
				<div class="title_phone">手机充值</div>
				<div class="phone_box"><FORM METHOD=POST action="http://cz.eachnet.com/selernie.do?adid=song_tkisswin_015_080505_mcash_dahongbao" target="_blank" name="FORM" onsubmit="return checkCellNumber('formsubmit',1);">
					<ul>
						<li class="phone_left">请输入号码</li>
						<li class="phone_right"><input id="inputId" maxlength="11" name="mphone" type="text" class="phone_input" onKeyUp="return checkCellNumber();"/></li>
						<li class="phone_left">请选择面额</li>
						<li class="phone_right"><input name="amount" type="radio" value="50" onclick="checkCellNumber('',1);"/>50元 <input name="amount" type="radio" value="100" checked="checked" onclick="checkCellNumber('',1);"/>100元 <input name="amount" type="radio" value="300" onclick="checkCellNumber('',1);"/>300元</li>
						<li class="phone_ico"><span id="phonealert">现在充值9.8折起</span></li>
						<li><input type="image" src="/images/phone_button.gif"></li>
					</ul></FORM>
				</div>
			
			</div>
			<!--手机充值结束-->
			
			<div id="ad1" style="margin-top:5px;"></div>
			<div id="ad2" style="margin-top:5px;"></div>
		</div>
		<!--end right-->
	</div>
	<!--主体内容结束-->
</div>

</div>

{literal}
<script type="text/javascript">
{/literal}
smarter_adhost = "{$__ADHOST}";
condition = "";
{literal}
var arr = [];
for(i=1;i<3;i++){
	arr.push({DocID: "ad"+i,PageKey: "dhb_discount",SectionKey: "right_block"+i,ConditionKey: condition});
}
smarter_ad = arr;
</script>
{/literal}
<script type="text/javascript" src="{$__ADHOST}js/load.js"></script>
{include file="new/foot.htm"}