<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>大红包兑奖流程--大红包</title>
<META NAME="description" CONTENT="{$topicrow.description}">
<META NAME="keywords" CONTENT="{$topicrow.keywords}">
<link href="../css/priceinfo.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="head" class="main_box">
	<ul>
		<li class="liimg1"><img src="/images/price/head1.jpg" alt="大红包，红包换奖品，多重好礼等你拿" /></li>
		<li class="liimg2"><a href="/"><img src="/images/price/head3.jpg" alt="大红包" /></a></li>
		<li class="liimg3"><img src="/images/price/head4.jpg" alt="大红包，红包换奖品，多重好礼等你拿" /></li>
		<li class="liimg4"><img src="/images/price/head_info4.jpg" alt="大红包，红包换奖品，多重好礼等你拿" /></li>
		<li class="liimg4"><img src="/images/price/head_info5.jpg" alt="大红包，红包换奖品，多重好礼等你拿" /></li>
		<li class="liimg4"><img src="/images/price/head_info6.jpg" alt="大红包，红包换奖品，多重好礼等你拿" /></li>					
	</ul>
</div>

<div id="info" class="main_box">
	<div class="info_box">
		<div class="info_img"><img src="/images/price/info_top.jpg" alt="兑奖流程" /></div>
		<div class="info_text">
			<h1><img src="/images/price/ico_info.jpg" alt="兑奖流程" /></h1>
			<p>兑换奖品页面中罗列了我们为您准备的各色礼品。若您的红包数达到礼品的要求，便可以进行兑换。以下为兑换礼品的申请步骤。</p>
			<p>1、点击您所看中的礼品兑换按钮：<br />
    &nbsp;&nbsp;&nbsp;a、红包数不够。——>转到2<br />
    &nbsp;&nbsp;&nbsp;b、若您的红包数足够。——>转到3</p>
			<p>2、将有提示您还不能兑换此礼品。您可以通过“<a href="/bbs/read.php?tid=99431" target="_blank">如何获得红包</a>”来了解怎样能获得足够多的红包。</p>
			<p>3、将进入资料确认页面，确认快递所必须的几项资料。<span class="bring">注：若资料不属实，将无法获得礼品。</span><br />
    &nbsp;&nbsp;&nbsp;a、资料正确——>转到4<br />
    &nbsp;&nbsp;&nbsp;b、资料不正确——>转到5</p>
			<p>4、点击提交按钮完成本次申请。</p>
			<p>5、点击修改按钮进入<a href="/bbs/profile.php?action=modify" target="_blank">个人资料编辑</a>，对自己的资料进行编辑提交后，会自动转入资料确认页面，点击提交按钮完成本次申请。</p>
			<p>工作人员会于每月的25至30日对上月25日到本月24日之间提交申请的人进行整理并以快递的方式发送礼品。而本月25日开始提出兑换申请的人则将于下个月进行整理发放。</p>
			<p>每次发放我们都将在论坛“<a href="/bbs/thread.php?fid=73" target="_blank">兑奖交流</a>”板块登出名单以及兑换礼品名称和数量。若您在我们发出清单后很长一段时间内没有获得礼品，请在论坛上以发帖形式告知我们，我们将查询相关快递来确保您能获得该礼品。</p>
			<p>大红包所有工作人员愿您在大红包能获得美好的网上体验。</p>
			<p><span class="bring">大红包对此兑奖行为拥有最终解释权。</span></p>
		</div>
		<div class="info_img"><img src="/images/price/info_bottom.jpg" alt="兑奖流程" /></div>
	</div>
	
	<div class="price_left"></div>
</div>
</body>