<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>大红包隐私条例</title>
<link href="../css/detail.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<!--头部开始-->
<div id="head" class="main_box">
	<!--head_top 开始-->
	<div id="head_top">
		<div id="logo">
			<a href="index.htm"><img src="../images/logo.gif" alt="大红包优惠券" /></a>		</div>
		<!--head_topnav 开始-->
		<div id="head_topnav">
			<ul>
				<li><a href="/" title="优惠券"><div class="inc1">优惠券</div></a></li>
				<li><a href="refer.htm" title="导购资讯"><div class="inc2">导购资讯</div></a></li>
				<li><a href="#" title="活动"><div class="inc3">活动</div></a></li>
				<li><a href="#" title="专题"><div class="inc4">专题</div></a></li>
				<li><a href="#" title="BBS社区"><div class="inc5">BBS社区</div></a></li>
				<li><a href="#" title="发布优惠券"><div class="inc6">发布优惠券</div></a></li>
			</ul>
		</div>
		<!--head_topnav 结束-->	
		<strong>中华人民共和国</strong>	
	</div>
	<!--head_top 结束-->
	<!--nav导航 开始-->
	<div id="nav">
		<ul>
			<li><a href="category.htm" title="餐饮美食">餐饮美食</a></li>
			<li><a href="category.htm" title="商场超市">商场超市</a></li>
			<li><a href="category.htm" title="时尚服饰">时尚服饰</a></li>
			<li><a href="category.htm" title="美容化妆">美容化妆</a></li>
			<li><a href="category.htm" title="休闲娱乐">休闲娱乐</a></li>
			<li><a href="category.htm" title="图书音像">图书音像</a></li>
			<li><a href="category.htm" title="旅游度假">旅游度假</a></li>
			<li class="bring"><strong>运动保健</strong></li>
			<li><a href="category.htm" title="IT产品">IT产品</a></li>
			<li><a href="category.htm" title="房产家居">房产家居</a></li>
			<li><a href="category.htm" title="家用电器">家用电器</a></li>
			<li><a href="category.htm" title="鲜花礼品">鲜花礼品</a></li>
			<li><a href="category.htm" title="教育培训">教育培训</a></li>
			<li><a href="category.htm" title="影视票务">影视票务</a></li>
			<li><a href="category.htm" title="汽车用品">汽车用品</a></li>
			<li><a href="category.htm" title="母婴用品">母婴用品</a></li>
			<li><a href="category.htm" title="成人用品">成人用品</a></li>		
			<li><a href="category.htm" title="其他">其他</a></li>
		</ul>
	</div>
	<!--nav导航 结束-->
	<!--search搜索 开始-->
	<div id="search">
		<ul>
			<li class="input1"><input name="" type="text" class="input" /></li>
			<li class="search_but"><input name="" type="image" src="../images/button_search.gif" /></li>
			<li class="hot">热门关键字：</li>
			<li class="hotmessage">Apple iPhone | 迪斯奈乐园 | 夏令营 | 休旅车</li>
			<li class="hot">用户名：</li>
			<li class="inputmin1"><input name="" type="text" class="inputmin" /></li>
			<li class="hot">密码：</li>
			<li class="inputmin1"><input name="" type="password" class="inputmin" /></li>
			<li class="login1"><input name="" type="button" value="登 陆" class="login"/></li>
			<li class="login1"><input name="" type="button" value="注 册" class="login"/></li>
		</ul>
	</div>
	<!--search搜索 结束-->
	<div class="clr"></div>
	<!--message 信息开始-->
	<div id="message">
		<div class="city">
			城市：<span class="citybring"><a href="#">上海</a></span> <a href="#">北京</a> <a href="#">香港</a> <a href="#">全国</a>		</div>
		<!--message_right活动公告开始-->
		<div class="message_right">
			<ul>
				<li class="lileft">活动公告:</li>
				<li class="lired">·<a href="news.htm">7月惠友主题活动获奖人名单（排名不分先后）</a></li>
				<li class="liblue">·<a href="news.htm">8月惠友主题活动主题征集（10000奖品等你拿）</a></li>
			</ul>
		</div>
		<!--message_right活动公告结束-->
	</div>
	<!--message 信息结束-->
</div>
<!--头部结束-->
<!--主体内容开始-->
<div id="content">
	<!--category_title 导航开始-->
	<div id="category_title">
		<span class="bring">当前位置:</span> <a href="index.htm">首页</a> > <h1>隐私条例</h1>
	</div>
	<!--category_title 导航结束-->		
	<!--link_box begin-->
	<div class="link_box">
		<h2>隐私条例</h2>
		<div class="link_minbox">			
			<p>通常情形下，大红包不获取、保存、使用、公布用户个人身份识别资料；具体情况除外，例如，注册我方信息邮件，或者注册我方提供个性化服务（个人优惠信息）。对于此类信息，我方保留是否提供、如何提供、以及提供对象的决定权。具体条款，请参阅我方隐私政策如下： </p>		
			<p>大红包是为热衷网上优惠信息的顾客提供的独立站点, 所有服务全部由Mezi Media之子机构大红包提供. Mezi Media 非常重视用户的隐私权, 因此, 我方一贯遵循信息操作原则, 并且致力于明晰信息操作公开情况。 该隐私条例既是一部分。 </p>
			<h3>隐私条例包含范围:</h3>	
			<p> 此隐私条例适用于Mezi Media 获取、使用、保存、公开信息。任何例外情形，我方将在获取信息之前明确提示，同时用户会有选择权决定是否参与或提供信息。 </p>	
			<p>请注意，作为服务组成部分，Mezi Media 为第三方网站提供所需链接，同时为其提供搜索服务。我方对第三方获取信息之行为不负法律责任。同时，我方广告标识由第三方提供，可能获取用户cookies， 仅用于跟踪记录标识使用情况。</p>
		</div>
	</div>
	<!--link_box end-->
</div>
<!--主体内容结束-->

{include file="new/foot.htm"}
