<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>生活娱乐资讯,消费指南,商品导购,优惠促销信息 - 大红包资讯频道</title>
<link href="../css/category.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<!--头部开始-->
{include file="new/head_news.htm"}
<!--头部结束-->
<!--主体内容开始-->
<div id="content">
	<!--category_title 导航开始-->
	<div id="category_title">
		<span class="bring">当前位置:</span> <a href="/">首页</a> > <h1>导购资讯</h1>
	</div>
	<!--category_title 导航结束-->
	<!--category 具体内容开始-->
	<div id="category">
	<!--main 具体内容开始-->
	<div id="main">
		<!--begin ad-->
		<div id="ad"><a href="{$adlist.17.Adurl}" target="_blank"><img src="{$__IMAGE_SRC}images/up/newsad2.gif" alt="{$adlist.17.Admore}"/></a></div>
		<!--end ad-->
		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg1">餐饮美食</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_17.gif" alt="{$adlist.0.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.17 start=0 max=6}
						<li>·<a href="/news---Ca-food--Ci-17--number-{$indexlist.17[loop].tid}.html">{$indexlist.17[loop].subject}</a></li>
						{/section}				
						<li class="message"><a href="/news---Ca-food--Ci-17.html">更多餐饮美食资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg2">旅游度假</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_18.gif" alt="{$adlist.1.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.18 start=0 max=6}
						<li>·<a href="/news---Ca-travel--Ci-18--number-{$indexlist.18[loop].tid}.html">{$indexlist.18[loop].subject}</a></li>
						{/section}									
						<li class="message"><a href="/news---Ca-travel--Ci-18.html">更多旅游度假资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->
		
		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg3">鲜花礼品</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_19.gif" alt="{$adlist.2.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.19 start=0 max=6}
						<li>·<a href="/news---Ca-gift--Ci-19--number-{$indexlist.19[loop].tid}.html">{$indexlist.19[loop].subject}</a></li>
						{/section}							
						<li class="message"><a href="/news---Ca-gift--Ci-19.html">更多鲜花礼品资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg4">美容化妆</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_20.gif" alt="{$adlist.3.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.20 start=0 max=6}
						<li>·<a href="/news---Ca-Cosmestics--Ci-20--number-{$indexlist.20[loop].tid}.html">{$indexlist.20[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-Cosmestics--Ci-20.html">更多美容化妆资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->
		
		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg1">影视票务</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_21.gif" alt="{$adlist.4.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.21 start=0 max=6}
						<li>·<a href="/news---Ca-video--Ci-21--number-{$indexlist.21[loop].tid}.html">{$indexlist.21[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-video--Ci-21.html">更多影视票务资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg2">房产家居</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_22.gif" alt="{$adlist.5.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.22 start=0 max=6}
						<li>·<a href="/news---Ca-homegarden--Ci-22--number-{$indexlist.22[loop].tid}.html">{$indexlist.22[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-homegarden--Ci-22.html">更多房产家居资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->
		
		
		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg3">时尚服饰</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_23.gif" alt="{$adlist.6.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.23 start=0 max=6}
						<li>·<a href="/news---Ca-apparel--Ci-23--number-{$indexlist.23[loop].tid}.html">{$indexlist.23[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-apparel--Ci-23.html">更多时尚服饰资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg4">家用电器</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_24.gif" alt="{$adlist.7.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.24 start=0 max=6}
						<li>·<a href="/news---Ca-electronics--Ci-24--number-{$indexlist.24[loop].tid}.html">{$indexlist.24[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-electronics--Ci-24.html">更多家用电器资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->
		
		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg1">商场超市</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_25.gif" alt="{$adlist.8.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.25 start=0 max=6}
						<li>·<a href="/news---Ca-maketdetail--Ci-25--number-{$indexlist.25[loop].tid}.html">{$indexlist.25[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-maketdetail--Ci-25.html">更多商场超市资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg2">教育培训</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_26.gif" alt="{$adlist.9.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.26 start=0 max=6}
						<li>·<a href="/news---Ca-training--Ci-26--number-{$indexlist.26[loop].tid}.html">{$indexlist.26[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-training--Ci-26.html">更多教育培训资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->

		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg3">母婴用品</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_27.gif" alt="{$adlist.10.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.27 start=0 max=6}
						<li>·<a href="/news---Ca-toys--Ci-27--number-{$indexlist.27[loop].tid}.html">{$indexlist.27[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-toys--Ci-27.html">更多母婴用品资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg4">图书音像</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_28.gif" alt="{$adlist.11.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.28 start=0 max=6}
						<li>·<a href="/news---Ca-books--Ci-28--number-{$indexlist.28[loop].tid}.html">{$indexlist.28[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-books--Ci-28.html">更多图书音像资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->

		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg1">娱乐休闲</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_29.gif" alt="{$adlist.12.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.29 start=0 max=6}
						<li>·<a href="/news---Ca-cartoon--Ci-29--number-{$indexlist.29[loop].tid}.html">{$indexlist.29[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-cartoon--Ci-29.html">更多娱乐休闲资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg2">IT产品</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_30.gif" alt="{$adlist.13.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.30 start=0 max=6}
						<li>·<a href="/news---Ca-digital--Ci-30--number-{$indexlist.30[loop].tid}.html">{$indexlist.30[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-digital--Ci-30.html">更多IT产品资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->

		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg3">运动保健</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_31.gif" alt="{$adlist.14.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.31 start=0 max=6}
						<li>·<a href="/news---Ca-Sports--Ci-31--number-{$indexlist.31[loop].tid}.html">{$indexlist.31[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-Sports--Ci-31.html">更多运动保健资讯</a></li>
					</ul>
				</div>
			</div>
			
			<div class="refer_box floatr">
				<h3 class="bg4">汽车用品</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_32.gif" alt="{$adlist.15.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.32 start=0 max=6}
						<li>·<a href="/news---Ca-auto--Ci-32--number-{$indexlist.32[loop].tid}.html">{$indexlist.32[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-auto--Ci-32.html">更多汽车用品资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end refer-->

		<!--begin refer-->
		<div class="refer">
			<div class="refer_box float">
				<h3 class="bg1">成人用品</h3>
				<div class="refer_right">
					<!--contont_minleft 图片开始-->
					<div class="contont_minleft">
					<img src="{$__IMAGE_SRC}images/up/news_51.gif" alt="{$adlist.16.Admore}" />
					</div>
					<!--contont_minleft 图片结束-->
					<ul>
						{section name=loop loop=$indexlist.51 start=0 max=6}
						<li>·<a href="/news---Ca-adult--Ci-51--number-{$indexlist.51[loop].tid}.html">{$indexlist.51[loop].subject}</a></li>
						{/section}						
						<li class="message"><a href="/news---Ca-adult--Ci-51.html">更多成人用品资讯</a></li>
					</ul>
				</div>
			</div>
		
		</div>
		<!--end refer-->
		<!--ad 广告开始-->
		<div class="ad">
			<a href="{$adlist.17.Adurl}" target="_blank"><img src="{$__IMAGE_SRC}images/up/newsad2.gif" alt="{$adlist.17.Admore}"/></a>
		</div>
		<!--ad 广告结束-->
	</div>
	<!--main 具体内容结束-->
	
	<!--sidebar 栏目页左边内容开始-->
	<div id="sidebar">
		<!--sidebox 热门优惠券开始-->
		<div class="sidebox">
			<h2>最新优惠券</h2>
			<ul>
				{section name=loop loop=$newcategorycouponlist start=0 max=10}
				<li>·{if $newcategorycouponlist[loop].Merchant_>0}【<a href="/Me-{$newcategorycouponlist[loop].NameURL}--Mi-{$newcategorycouponlist[loop].Merchant_}.html">{if $newcategorycouponlist[loop].name1 == ""}{$newcategorycouponlist[loop].name}{else}{$newcategorycouponlist[loop].name1}{/if}</a>】{/if}<a href="/{if $newcategorycouponlist[loop].NameURL}{$newcategorycouponlist[loop].NameURL}{else}merchant{/if}/coupon-{$newcategorycouponlist[loop].Coupon_}/">{$newcategorycouponlist[loop].Descript}</a></li>
				{/section}
			</ul>
		</div>
		<!--sidebox 热门优惠券结束-->
			
		<!--sidebox 热门优惠券开始-->
		<div class="sidebox">
			<h2>热门资讯</h2>
			<ul>
				{section name=loop loop=$hotinfo start=0 max=10}
				<li>·<a href="/news---Ca-{$hotinfo[loop].NameURL}--Ci-{$hotinfo[loop].fid}--number-{$hotinfo[loop].tid}.html">{$hotinfo[loop].subject}</a></li>
				{/section}
			</ul>
		</div>
		<!--sidebox 热门优惠券结束-->
			
		<!--sidebox 热门优惠券开始-->
		<div class="sidebox">
			<h2>论坛热贴</h2>
			<ul>
				{section name=loop loop=$hotbbs start=0 max=10}
				<li>·<a href="/bbs/read.php?tid={$hotbbs[loop].tid}">{$hotbbs[loop].subject}</a></li>
				{/section}
			</ul>
		</div>
		<!--sidebox 热门优惠券结束-->
	</div>
	<!--sidebar 栏目页左边内容结束-->	
	</div>
	<!--category 具体内容结束-->
</div>
<!--主体内容结束-->

{include file="new/foot.htm"}