<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>更多夏季专题--大红包系列专题</title>
<META NAME="description" CONTENT="{$topicrow.description}">
<META NAME="keywords" CONTENT="{$topicrow.keywords}">
<link href="../css/topic_summer.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<!--头部开始-->
{include file="new/head_topic.htm"}
<!--头部结束-->
<!--主体内容开始-->
<div id="content">
	<!--category_title 导航开始-->
	<div id="category_title">
		<span class="bring">当前位置:</span> <a href="/">首页</a> > <a href="/topic.html">专题首页</a> > <h1>更多夏季专题</h1>
	</div>
	<!--category_title 导航结束-->	
	<!--topic 具体内容开始-->
	<div id="topic">
		<div id="banner"><img src="/images/topic/banner_summer.jpg" alt="夏季专题" /></div>
		<div id="topic_list">
			{section name=loop loop=$topiclist}
			<div class="topic_box">
				<h3><a href="/topic-{$topiclist[loop].id}.html" target="_blank" title="{$topiclist[loop].title}">{$topiclist[loop].smalltitle}</a></h3>
				<div class="topic_text">
					<p><a href="/topic-{$topiclist[loop].id}.html" target="_blank">{$topiclist[loop].topicdetail}</a></p>
					<a href="/topic-{$topiclist[loop].id}.html" target="_blank"><img src="{$__IMAGE_SRC}images/topic/topicindexshow_{$topiclist[loop].id}_ls.gif" alt="{$topiclist[loop].title}" /></a>			
				</div>
			</div>
			{/section}
		</div>
	</div>
	<!--topic 具体内容结束-->
</div>
<!--主体内容结束-->
{include file="new/foot.htm"}
