<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2008圣诞节专题--圣诞节图片|圣诞节的由来|圣诞节活动|圣诞节礼物|圣诞节歌曲|圣诞节贺卡|圣诞节装饰--大红包</title>
<link href="../css/special.css" rel="stylesheet" type="text/css" media="all" />
<META NAME="description" CONTENT="寄贺卡，送祝福，免费获取美丽鲜花与美味巧克力，大红包2008圣诞节与您共享欢乐盛宴，并为您带来圣诞节图片，圣诞节的由来，圣诞节活动，圣诞节礼物，圣诞节歌曲，圣诞节贺卡，圣诞节装饰等相关资讯及大量优惠购物信息，缤纷圣诞，与您相伴！">
</head>

<body>
<!--头部开始-->
{include file="new/headmerry.htm"}
<!--头部结束-->
<!--主体内容开始-->
<div id="content">
	<!--category_title 导航开始-->
	<div id="category_title">
		<span class="bring">当前位置:</span> <a href="/">首页</a> > <a href="/topic.html">专题首页</a> > <h1>缤纷圣诞,与您相伴!----2008大红包圣诞节专题</h1>
	</div>
	<!--category_title 导航结束-->
	
	<!--special 具体内容开始-->
	<div id="special">
		<div id="special_box">
			<div id="banner"><img src="../images/Merry_banner1.gif" alt="圣诞节快乐" /><img src="../images/Merry_banner2.gif" alt="圣诞节快乐" /><img src="../images/Merry_banner3.gif" alt="圣诞节快乐" /><img src="../images/Merry_banner4.gif" alt="圣诞节快乐" /></div>
			<div id="special_merry">
				<!--左侧内容开始-->
				<div id="special_left">
					<div class="special_title"><img src="../images/merry_title1.gif" alt="圣诞节" /></div>
					<div class="special_box">
						<!--具体文字内容开始-->
						<div class="special_min">
							<!--文字左侧开始-->
							<div class="special_boxleft">
								<div class="special_img"><img src="../images/merry_pro1.gif" alt="圣诞产品" /></div>
								<ul>
									<li class="bring"><strong>独享圣诞优惠券</strong></a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-86929/">38元畅饮 圣诞大餐预订优惠中</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-87779/">60元抵用券、免费品尝特色菜</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-72261/">天使心耳环【圣诞节礼物】</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-74342/">新影联院线通卡通票</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-87101/">富茂登日本料理10元代金券</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-87102/">翠庭20元代金券</a></li>
									<li class="more"><a href="http://www.dahongbao.com/Ca-food--Ci-72--sortby-time.html">更多>></a></li>
								</ul>
							</div>
							<!--文字左侧结束-->
							<div class="special_boxright">
								<div class="special_text border">
									<h2>电影单人场</h2>
									<p><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91132.html">一个人的圣诞节，窗外已是凛冽的寒风，喧嚣与热闹不在自己的脑海中，就想静静一人品味这节日的气氛。泡一杯咖啡，把自己埋在沙发里，下载几部圣诞的电影，独享。</a></p>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>独自出游</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89162.html">圣诞节狂欢地区</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91137.html">一个人的圣诞节</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89089.html">圣诞节活动</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89161.html">圣诞节宗教</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89159.html">圣诞节习俗与庆祝</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89288.html">圣诞桌面游戏合辑</a></li>
										<li class="more"><a href="http://www.dahongbao.com/topicinfo-23.html">更多>></a></li>
									</ul>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>为自己而美丽</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91017.html">圣诞MM真人激情演绎</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91147.html">圣诞妆容钻石光芒</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91149.html">谱出圣诞妆容</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91150.html">圣诞魅力妆容如何画</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91151.html">圣诞妆容DIY</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91152.html">奢华高贵圣诞妆容</a></li>
										<li class="more"><a href="http://www.dahongbao.com/">更多>></a></li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					<!--可循环块开始-->
					<div class="merry_title"><img src="../images/merry_title3.gif" alt="圣诞节" /></div>
					<div class="special_mbox">
						<!--具体文字内容开始-->
						<div class="special_min">
							<!--文字左侧开始-->
							<div class="special_boxleft">
								<div class="special_img"><a href="#"><img src="../images/merry_pro2.gif" alt="圣诞产品" /></a></div>
								<ul>
									<li class="bring"><strong>甜蜜圣诞优惠券</strong></a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-88038/">[盘湾方舟]享受12%优惠</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-88037/">[香辣蟹仙霞店]满100抵20、送锅底、送基围虾</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-88036/">[尝香汇]30元现金抵用券、送100元券</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-88035/">[群生世家]赠送价值88元“驴骨珍菌汤”</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-88033/">[一麻一辣西直门店]30元现金抵用券</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-88050/">[友鸡会]20元现金抵用券</a></li>
									<li class="more"><a href="http://www.dahongbao.com/discount_new.html">更多>></a></li>
								</ul>
							</div>
							<!--文字左侧结束-->
							<div class="special_boxright">
								<div class="special_text border">
									<h2>两个人的餐桌</h2>
									<p><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91139.html">时尚的圣诞之夜，成为了年轻的情侣们述说爱情的别样空间。在这个神圣的日子，如何让两个人的爱情有个浪漫的开场白？一家餐馆是个不错的开始哦！</a></p>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>爱的表达</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89092.html">圣诞夜怎么过？</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89094.html">圣诞节送情人礼物</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89098.html">圣诞节送男友礼物</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91019.html">圣诞SD娃娃</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91136.html">圣诞节遇见爱情</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89170.html">圣诞节装饰品</a></li>
										<li class="more"><a href="http://www.dahongbao.com/topicinfo-27.html">更多>></a></li>
									</ul>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>圣诞礼物</strong></a></li>
										<li class="line">·<a href="http://www.smarter.com.cn/_mkkflfkonakbmapbmglh-se-ch-1018-c-22/ ">圣诞小礼品打动芳心</a></li>
										<li class="line">·<a href="http://www.smarter.com.cn/_mkkflfkomkph-se-ch-1009-c-17/ ">多彩圣诞树</a></li>
										<li class="line">·<a href="http://www.smarter.com.cn/_mkkflfkolcmknhlb-se-ch-693-c-695/ ">百变圣诞彩妆</a></li>
										<li class="line">·<a href="http://www.smarter.com.cn/_mkkflfkomapbmoop-se-ch-1010-c-7/ ">送给她的圣诞礼物</a></li>
										<li class="line">·<a href="http://www.smarter.com.cn/_mkkflfkomapblkna-se/">圣诞礼盒导购</a></li>
										<li class="line">·<a href="http://www.smarter.com.cn/_mkkflfkompmkllki-se-ch-1009-c-47/">圣诞鲜花打动她</a></li>
										<li class="more"><a href="http://www.smarter.com.cn/_mkkflfkolnnk-se/">更多>></a></li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					<!--可循环块结束-->
					<!--可循环块开始-->
					<div class="merry_title"><img src="../images/merry_title4.gif" alt="圣诞节" /></div>
					<div class="special_mbox1">
						<!--具体文字内容开始-->
						<div class="special_min">
							<!--文字左侧开始-->
							<div class="special_boxleft">
								<div class="special_img"><a href="#"><img src="../images/merry_pro3.gif" alt="圣诞产品" /></a></div>
								<ul>
									<li class="bring"><strong>温馨圣诞优惠券</strong></a></li>
									<li>·<a href="http://www.dahongbao.com/stats/redir.php?p=87811&c=68&m=&rdtp=0">DHC白金盈润滋养组</a></li>
									<li>·<a href="http://www.dahongbao.com/stats/redir.php?p=87841&c=63&m=&rdtp=0">新衣行动优惠活动</a></li>
									<li>·<a href="http://www.dahongbao.com/stats/redir.php?p=87833&c=66&m=&rdtp=0">买表即送同品牌时尚太阳镜!</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-86931/">[Yogo优果]全新养生暖饮省5元</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-87101/">富茂登日本料理10元代金券</a></li>
									<li>·<a href="http://www.dahongbao.com/Me-yesfashion--Mi-69926.html">羽扇娃娃睫毛增长精华液 </a></li>
									<li class="more"><a href="http://www.dahongbao.com/Ca-apparel--Ci-63--sortby-time.html">更多>></a></li>
								</ul>
							</div>
							<!--文字左侧结束-->
							<div class="special_boxright">
								<div class="special_text border">
									<h2>温暖居家</h2>
									<p><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89171.html">圣诞将临，马路上、商场里，都满满的圣诞氛围，红与白的主色调，让人赏心悦目。想要把这些统统搬回家么？如何让房间里也充满了浓浓的圣诞味道？</a></p>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>全家分享</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89099.html">圣诞袜传说</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89163.html">圣诞老人</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89167.html">平安夜里发生的动人故事</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91133.html">电影陪你玩转圣诞节</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91134.html">温馨的圣诞小品</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91142.html">圣诞贺卡的写法</a></li>
										<li class="more"><a href="http://www.dahongbao.com/topicinfo-28.html">更多>></a></li>
									</ul>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>大餐全家享</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91138.html">圣诞大餐的简单做法</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91141.html">轻松搞掂圣诞大餐</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91143.html">沪上品圣诞大餐过瘾</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91144.html">圣诞美味起司大餐</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91145.html">送给味蕾的圣诞大餐</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91146.html">各国圣诞大餐习俗</a></li>
										<li class="more"><a href="http://www.dahongbao.com/topicinfo-28.html">更多>></a></li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					<!--可循环块结束-->
					<!--可循环块开始-->
					<div class="merry_title"><img src="../images/merry_title5.gif" alt="圣诞节" /></div>
					<div class="special_mbox">
						<!--具体文字内容开始-->
						<div class="special_min">
							<!--文字左侧开始-->
							<div class="special_boxleft">
								<div class="special_img"><a href="#"><img src="../images/merry_pro4.gif" alt="圣诞产品" /></a></div>
								<ul>
									<li class="bring"><strong>热闹圣诞优惠券</strong></a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-87987/">肯德基</a></li>
									<li>·<a href="http://www.dahongbao.com/KFC/coupon-86497/">KFC川辣嫩牛五方</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-87978/">大城小厨鸡蛋香焗原只番薯买一送一</a></li>
									<li>·<a href="http://www.dahongbao.com/taimushaokao/coupon-87953/">泰姆烧烤主题餐厅</a></li>
									<li>·<a href="http://www.dahongbao.com/merchant/coupon-86283/">ZIMOVO的5元优惠券）</a></li>
									<li>·<a href="http://www.dahongbao.com/stats/redir.php?p=86856&c=63&m=&rdtp=0">08秋冬流行饰品,新鲜出炉</a></li>
									<li class="more"><a href="http://www.dahongbao.com/Ca-gift--Ci-66--sortby-time.html">更多>></a></li>
								</ul>
							</div>
							<!--文字左侧结束-->
							<div class="special_boxright">
								<div class="special_text border">
									<h2>圣诞，你知道多少？</h2>
									<p><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89157.html">时尚的圣诞节覆盖了原始的意义，让我们一起去触摸那最初的圣诞，体验那份神圣。耶稣基督出生的故事已经流传了多个世纪，真真假假，圣诞缘何而来？</a></p>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>一群人的狂欢</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89095.html">十二星座圣诞狂欢夜</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89100.html">圣诞节礼物</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/bbs/read.php?tid=91831&page=1&toread=1">圣诞节歌曲-中英文歌词</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89164.html">圣诞节完美功略</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89166.html">100条圣诞节祝福语短信</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/bbs/read.php?tid=116615&page=1&toread=1">搞笑圣诞歌曲</a></li>
										<li class="more"><a href="http://www.dahongbao.com/topicinfo-29.html">更多>></a></li>
									</ul>
								</div>
								<div class="special_text border">
									<ul>
										<li class="bring"><strong>圣诞知识堂</strong></a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91135.html">搞怪圣诞节</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89090.html">圣诞节的牺牲</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89091.html">圣诞节的由来</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89158.html">圣诞节庆祝日期</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-89096.html">圣诞节短信</a></li>
										<li class="line">·<a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91140.html">消魂的冰火圣诞大餐</a></li>
										<li class="more"><a href="http://www.dahongbao.com/topicinfo-29.html">更多>></a></li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					<!--可循环块结束-->
				</div>
				<!--左侧内容结束-->
				<!--右侧内容开始-->
				<div id="special_right">
					<div class="special_title"><img src="../images/merry_title2.gif" alt="圣诞节" /></div>
					<!--活动开始-->
					<div id="ploy">
						<div class="ploy_img"><img src="../images/merry_projianjie.gif" alt="圣诞节产品" /></div>
						<div class="ploy_text">
							<h2>活动简介</h2>
							<p>
								<a href="/bbs/read.php?tid=92080">孤单圣诞节，或许你会选择在游戏里度过？我们为你准备了魔兽世界版的圣诞贺卡，为你的圣诞增添乐趣，快来领取吧！</a>
							</p>
						</div>
					</div>
					<!--活动结束-->
					<!--论坛活动简开始-->
					<div id="ploy_bbs">
						<h2>论坛活动简介</h2>
						<p>
							<a href="http://www.dahongbao.com/bbs/read.php?tid=116557">在此帖子后回帖，写出你给朋友的祝福，比创意拼才华，只要回祝福帖，便有红包拿。获得红包兑换奖品！让你的圣诞更美好。详情请进入。</a>
						</p>
					</div>
					<!--论坛活动简结束-->
					<!--可循环块开始-->
					<div class="special_titleright"><img src="../images/merryt2.gif" alt="圣诞节" /></div>
					
					
					<div class="special_boxmin">
						<div class="boxmin_img"><img src="../images/merry1.gif" alt="圣诞节" /></div>
						<div class="boxmin_text">
							<h3><a href="/bbs/read.php?tid=92082">圣诞节情人贺卡，送给甜蜜的一对对~</a></h3>
							<p><a>圣诞节，情人们表白的时机~心中充满爱的每个人，会选择各种各样的方式去表达......</a></p>
						</div>
					</div>
					<div class="special_boxmin">
						<div class="boxmin_img"><img src="../images/merry2.gif" alt="圣诞节" /></div>
						<div class="boxmin_text">
							<h3><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91159.html">让情侣最满意的十大圣诞礼物</a></h3>
							<p><a>随着中西文化的交融，“圣诞节”这个西方国家的大节日也开始在越来越多的中国人生活里扎下了根……</a></p>
						</div>
					</div>
					<div class="special_boxmore"><a href="http://www.dahongbao.com/topicinfo-27.html">更多>></a></div>
					<!--广告结束-->
					<!--可循环块结束-->
					<!--可循环块开始-->
					<div class="special_titleright"><img src="../images/merryt3.gif" alt="圣诞节" /></div>
					<!--广告开始-->
					<div class="special_boxmin">
						<div class="boxmin_img"><img src="../images/merry3.gif" alt="圣诞节" /></div>
						<div class="boxmin_text">
							<h3><a href="/bbs/read.php?tid=92093">圣诞节贺卡，朋友篇</a></h3>
							<p><a>你是否还记得，当年总是一起中午去买棒棒糖，在高三的日子里，一起做幼儿园小朋友。……</a></p>
						</div>
					</div>
					<div class="special_boxmin">
						<div class="boxmin_img"><img src="../images/merry4.gif" alt="圣诞节" /></div>
						<div class="boxmin_text">
							<h3><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91161.html">最想要的圣诞节礼物</a></h3>
							<p><a>圣诞节快到了，你最想要的礼物是什么？本报记者随机做了一番探访，来看看这些别致有趣的想法……</a></p>
						</div>
					</div>
					<div class="special_boxmore"><a href="http://www.dahongbao.com/topicinfo-28.html">更多>></a></div>
					<!--广告结束-->
					<!--可循环块结束-->
					<!--可循环块开始-->
					<div class="special_titleright"><img src="../images/merryt4.gif" alt="圣诞节" /></div>
					
					
					<div class="special_boxmin">
						<div class="boxmin_img"><img src="../images/merry5.gif" alt="圣诞节" /></div>
						<div class="boxmin_text">
							<h3><a href="/bbs/read.php?tid=92083">圣诞节贺卡，温馨地送给全家人</a></h3>
							<p><a>家人是世上最亲爱的人。在圣诞节，我们祝愿天下的父母们身体健康，孩子们学业有成……</a></p>
						</div>
					</div>
					<div class="special_boxmin">
						<div class="boxmin_img"><img src="../images/merry6.gif" alt="圣诞节" /></div>
						<div class="boxmin_text">
							<h3><a href="http://www.dahongbao.com/news---Ca-cartoon--Ci-29--number-91163.html">选圣诞节礼物知来年运程</a></h3>
							<p><a>假如圣诞节这天，你一觉醒来，发现一个圣诞礼物盒放在你的面前，它让你联想到什么礼物呢……</a></p>
						</div>
					</div>
					<div class="special_boxmore"><a href="http://www.dahongbao.com/topicinfo-29.html">更多>></a></div>
					<!--广告结束-->
					<!--可循环块结束-->
				</div>
				<!--右侧内容结束-->
			</div>
		</div>
	</div>
</div>
<!--主体内容结束-->

{include file="new/foot.htm"}
